{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags1 %}
{% load product_tags %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block layout_extra_classnames %}grid--borderTopLess{% endblock %}
{% block layout_sidebar_extra_classnames %}u-desktop-only{% endblock %}

{% block grid_header_title %}
    <h1 class="title title--caps">{{ summary }}</h1>
{% endblock %}

{% block grid_header_filters %}

    {% category_tree parent=category as tree_categories %}
    {% if tree_categories %}
        <a class="link u-mobile-only" href="#drawer-categories">{% trans 'Categories' %}</a>

        <div class="drawer drawer--right" id="drawer-categories">
            <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Categories' %}"></a>
            <div class="drawer__frame">
                <div class="drawer__header">
                    <div class="drawer__titleContainer">
                        <span class="title title--small">{% trans 'Categories' %}</span>
                    </div>
                    <a href="#close-drawer" class="drawer__close close" title="{% trans 'Close Categories' %}"></a>
                </div>
                <div class="drawer__scroller">
                    <div class="drawer__content">
                        <div class="nested-lists">
                            <ul class="nested-lists__list drawer__list">
                                {% for tree_category, info in tree_categories %}
                                    <li class="nested-lists__item drawer__item">
                                        <a class="nested-lists__link drawer__link {% if info.has_children %}drawer__link--toggle{% endif %}" href="{{ tree_category.get_absolute_url }}">
                                            <span class="drawer__linkLabel">
                                                {% if tree_category.pk == category.pk %}
                                                    <strong>{{ tree_category.name }}</strong>
                                                {% else %}
                                                    {{ tree_category.name }}
                                                {% endif %}
                                            </span>
                                            <span class="drawer__linkIcon">
                                            {% if not info.has_children %}
                                                <span class="fonticon fonticon--box fonticon--small fonticon--carouselArrowRight"></span>
                                            {% endif %}
                                            </span>
                                        </a>

                                        {% if info.has_children %}<ul class="nested-lists__list drawer__list">{% else %}</li>{% endif %}
                                        {% for n in info.num_to_close %}
                                            </ul></li>
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block grid_header_sortBy %}
    <div>
        {# TODO : make it dynamic to actually sort items #}
        <form>
            <div class="select select--borderLess">
                <select>
                    <option value="" disabled selected="">Sort By</option>
                </select>
            </div>
        </form>
    </div>
{% endblock %}

{% block grid_header_results %}
    {% include "catalogue/partials/nb_of_results.html" %}
{% endblock %}

{% block column_left %}
    {% category_tree parent=category as tree_categories %}
    {% if tree_categories %}
        <div class="categories nested-lists">
            <ul class="nested-lists__list">
                {% for tree_category, info in tree_categories %}
                    <li class="nested-lists__item">
                        <a class="nested-lists__link" href="{{ tree_category.get_absolute_url }}">
                            {% if tree_category.pk == category.pk %}
                                <strong>{{ tree_category.name }}</strong>
                            {% else %}
                                {{ tree_category.name }}
                            {% endif %}
                        </a>

                        {% if info.has_children %}<ul class="nested-lists__list">{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if products %}
        <ol class="grid__list">
            {% for product in products %}
                <li class="grid__item">{% render_product product %}</li>
            {% endfor %}
        </ol>
    {% else %}
        <p>{% trans "No products found." %}</p>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    <div class="grid__paginationContainer">
        {% include "partials/pagination.html" %}
    </div>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
