{% extends "layout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block content %}
<div class="product">
<div class="container container--m-pad">
	<div class="product__overview">
		<div class="product__galleryContainer">
			{% block product_gallery %}
				{% include "catalogue/partials/gallery.html" %}
			{% endblock %}
		</div>
		<div class="product__content">
			<div>
				<h1 class="title product__title">{{ product.get_title }}</h1>
				<h2 class="product__brand">{{product.get_brand}}</h2>
			</div>
			<div>
				{% purchase_info_for_product request product as session %}
				{% if session.price.exists %}
					<p class="product__price">{{ session.price.incl_tax|currency:session.price.currency }}</p>
				{% endif %}
			</div>
            <div>
                {% block product_basket_form %}
                    <div class="product__actions">
                        {% include "catalogue/partials/add_to_basket_form.html" %}
                    </div>
                {% endblock %}
                <p class="product__sizeWorn">{% trans "Size worn: " %}X</p> {# TODO : add dynamic size worn #}
            </div>
		</div>
	</div>
</div>

<div class="product__details">
    <div class="grid grid--inverted grid--borderBottomLess">
        <div class="grid__main">
            {% block product_description %}
                {% if product.description %}
                    <div class="product__descContainer">
                        <p class="subtitle">{% trans 'Description' %}</p>
                        <div class="desc">{{ product.description|safe }}</div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="grid__sidebar">
            <div class="grid__sidebarWidget">
                {% block product_info %}
                    {% if product.upc %}
                        <div class="product__ref">
                            ID #{{ product.upc }}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="grid__sidebarWidget">
                {% include "partials/share_menu.html" %}
            </div>
        </div>
    </div>
</div>

<!-- TODO // dynamic review content -->
<div class="color-context color-context--product">
    {% include "catalogue/reviews/influencer_review.html" %}
</div>

<!-- TODO // dynamic links and influencer name -->
<nav class="nav nav--internal">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#shipping-drawer" class="link link--thick">{% trans 'Shipping Info' %}</a>
        </li>
        <li class="nav__item">
            <a href="#returns-drawer" class="link link--thick">{% trans 'Returns Policy' %}</a>
        </li>
        <li class="nav__item">
            <a href="" class="link link--thick">{% trans 'About Jessi' %}</a>
        </li>
    </ul>
</nav>

<!-- TODO // dynamic related products content -->
{% trans 'More products' as triptych_title %}
{% include "catalogue/partials/products_triptych.html" with triptych_title=triptych_title %}

{% include "catalogue/partials/shipping_info.html" %}
{% include "catalogue/partials/returns_policy.html" %}
{% include "catalogue/partials/product_added_to_basket.html" %}

</div>

{% endblock content %}

{% block extrascripts %}
    {{ block.super }}

    <script type="text/javascript">
        function showBasketDrawer() {
            var drawer = document.getElementById('basket-drawer');
            var show_event = new Event('drawer_show');
            drawer.dispatchEvent(show_event);
        }
        // setTimeout(function(){ showBasketDrawer() }, 2000);
    </script>
{% endblock %}
