{% extends 'dashboard/layout.html' %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}
    {% trans "Size Groups" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Size Groups" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:attribute-options-create' %}" class="btn btn-lg btn-primary pull-right"><i class="icon-plus"></i> {% trans "Create New Size Group" %}</a>
        <h1>{% trans "Size Groups" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
{#    <div class="well">#}
{#        <form action="" method="get" class="form-inline">#}
{#            {% include 'dashboard/partials/form_fields_inline.html' with form=form %}#}
{#            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>#}
{#            {% if is_filtered %}#}
{#                <a class="btn btn-default" href="{% url 'dashboard:brand-sub-category-list' %}" >{% trans "Reset" %}</a>#}
{#            {% endif %}#}
{#        </form>#}
{#    </div>#}

    <form action="" method="post" class="order_table">
        {% csrf_token %}
        <table class="table table-striped table-bordered">
            <caption>
                <i class="icon-briefcase icon-large"></i>{{ queryset_description }}
            </caption>
            {% if option_groups %}
                <tr>
                    <th>{% anchor 'name' _('Name') %}</th>
                </tr>
                {% for group in option_groups %}
                    <tr>
                        <td>
                            <a href="{% url 'dashboard:attribute-options-manage' pk=group.pk %}">{{ group.name }}</a>
                        </td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                        {% trans "Actions" %}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="{% url 'dashboard:attribute-options-manage' pk=group.pk %}">{% trans "Manage " %}</a></li>
                                        <li><a href="{% url 'dashboard:attribute-options-delete' pk=group.pk %}">{% trans "Delete " %}</a></li>
                                   </ul>
                                </div>
                            </div>
                        </td>


                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>{% trans "No Size Groups found." %}</td></tr>
            {% endif %}
        </table>
        {% include "dashboard/partials/pagination.html" %}
    </form>
     <div class="well">
    <i class="icon-warning-sign"></i> {% trans "" %}
    {% trans "Deleting/Editing Size groups can cause unintended effects on related objects." %}
</div>
{% endblock dashboard_content %}
