









{% extends "site/site_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}Privacy Policy{% endblock %}

{% block body_class %}legal-content{% endblock %}

{% block logo %}{% include "site/utils/header/_logo_black.html" %}{% endblock %}

{% block body %}

<div class="row">
    sdfdsfdsfsdfsfsfds
    <div class="col s6 m9 l9">
        <form action="" method="post">{% csrf_token %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title"> {{ title }}</span>
                    <div class="text-center form-align">
                        <p><strong>Password Reset </strong></p>
                        <form action="" method="post">{% csrf_token %}
                            {{ form.as_p }}
                        <input type="submit" value="Reset Password">
                        </form>
                    </div>
                </div>
        </form>
    </div>
</div>


     <!--{% if form %}-->
<!--<div id="main-wrapper" class="container text-center">-->
<!--<div class="results-layer">-->
       <!--<div class="table-row centered">-->
           <!--<p><strong>Password Reset </strong></p>-->
           <!--<form action="" method="post">{% csrf_token %}-->
               <!--{{ form.as_p }}-->
               <!--<input type="submit" value="Reset Password">-->
           <!--</form>-->
       <!--</div>-->
     <!--</div>-->
     <!--</div>-->
        <!--{% else %}-->
        <!--<h3>link expired</h3>-->
<!--{% endif %}-->


{% endblock %}

{% block extra_script %}
    <script>
        UnlabelModule.utils.scrollTopApi();
    </script>
{% endblock %}


