{% extends "customer/baseaccountpage.html" %}
{% load i18n %}
{% load currency_filters %}
{% load staticfiles %}
{% load display_tags %}
{% load i18n %}
{% load thumbnail %}
{% load reviews_tags %}

{% block grid_header_titleContent %}
    <h2 class="title title--small">{% trans "My Orders" %}</h2>
{% endblock %}

{% block grid_header_sortBy %}
    <div class="select select--borderLess">
        <select class="select-nav">
            {# TODO : dynamic options urls as values #}
            <option value="?date_from={% now 'Y-m-d' %}&amp;date_to={% now 'Y-m-d' %}">{% trans "Today" %}</option>
            <option value="?date_from=&amp;date_to=">{% trans "Last 30 days" %}</option>
        </select>
    </div>
{% endblock %}

{% block tabcontent %}

    {# TODO : remove 'not' condition once we have dynamic data (this is only for integration purposes) #}
    {% if not orders %}
        <ul>
            {# TODO : make it dynamic with for loop #}
            <li>
                <div class="container container--full container--s-pad24 container--m-pad32">
                    <div class="order-summary">
                        <div class="order-summary__content">
                            <div class="order-summary__info">
                                <span class="order-summary__status">{% trans "In process" %}</span><br class="u-mobile-only"/> <span class="order-summary__date">02/03/2017</span> <span class="order-summary__sep">•</span> <span class="order-summary__number">{% blocktrans %}Order N˚GEGD3983H283JJJ{% endblocktrans %}</span>
                            </div>
                            <ul class="order-summary__productsList">
                                <li class="order-summary__productsItem">
                                    <figure class="order-summary__product">
                                        <div class="order-summary__productVisual">
                                            <div class="img-container img-container--square">
                                                <img src="{% static 'unlabel/dist/img/temp/orders-product1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <figcaption class="order-summary__productContent">
                                            <p class="order-summary__productName">Product Name</p>
                                            <p class="order-summary__productID">ID #6578432</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="order-summary__productsItem">
                                    <figure class="order-summary__product">
                                        <div class="order-summary__productVisual">
                                            <div class="img-container img-container--square">
                                                <img src="{% static 'unlabel/dist/img/temp/orders-product2.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <figcaption class="order-summary__productContent">
                                            <p class="order-summary__productName">Long Product name for wrap test</p>
                                            <p class="order-summary__productID">ID #98372222</p>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <ul class="order-summary__helpList">
                                <li class="order-summary__helpItem">
                                    <a class="order-summary__helpLink" href="#need-help">{% trans "Need Help?" %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="order-summary__footer">
                            <div class="order-summary__totalWrapper">
                                <p class="order-summary__totalLabel">{% trans "Total" %}</p>
                                <p class="order-summary__totalPrice">$270.00</p>
                            </div>
                            <div class="order-summary__footerActions">
                                <a class="cta cta--block" href="#cancel-order">{% trans "Cancel Order" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </li>
            <li>
                <div class="container container--full container--s-pad24 container--m-pad32">
                    <div class="order-summary">
                        <div class="order-summary__content">
                            <div class="order-summary__info">
                                <span class="order-summary__status">{% trans "Shipped" %}</span><br class="u-mobile-only"/> <span class="order-summary__date">17/12/2016</span> <span class="order-summary__sep">•</span> <span class="order-summary__number">{% blocktrans %}Order N˚OEJ3322JQKW1{% endblocktrans %}</span>
                            </div>
                            <ul class="order-summary__productsList">
                                <li class="order-summary__productsItem">
                                    <figure class="order-summary__product">
                                        <div class="order-summary__productVisual">
                                            <div class="img-container img-container--square">
                                                <img src="{% static 'unlabel/dist/img/temp/orders-product1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <figcaption class="order-summary__productContent">
                                            <p class="order-summary__productName">Product Name</p>
                                            <p class="order-summary__productID">ID #6578432</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="order-summary__productsItem">
                                    <figure class="order-summary__product">
                                        <div class="order-summary__productVisual">
                                            <div class="img-container img-container--square">
                                                <img src="{% static 'unlabel/dist/img/temp/orders-product2.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <figcaption class="order-summary__productContent">
                                            <p class="order-summary__productName">Long Product name for wrap test</p>
                                            <p class="order-summary__productID">ID #98372222</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="order-summary__productsItem">
                                    <figure class="order-summary__product">
                                        <div class="order-summary__productVisual">
                                            <div class="img-container img-container--square">
                                                <img src="{% static 'unlabel/dist/img/temp/orders-product3.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <figcaption class="order-summary__productContent">
                                            <p class="order-summary__productName">Long Product name for wrap test</p>
                                            <p class="order-summary__productID">ID #98372222</p>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <ul class="order-summary__helpList">
                                <li class="order-summary__helpItem">
                                    <a class="order-summary__helpLink" href="#need-help">{% trans "Return a product" %}</a>
                                </li>
                                <li class="order-summary__helpItem">
                                    <a class="order-summary__helpLink" href="#need-help">{% trans "Need Help?" %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="order-summary__footer">
                            <div class="order-summary__totalWrapper">
                                <p class="order-summary__totalLabel">{% trans "Total" %}</p>
                                <p class="order-summary__totalPrice">$512.00</p>
                            </div>
                            <div class="order-summary__footerActions">
                                <a class="cta cta--dark cta--block" href="#cancel-order">{% trans "Download Invoice" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    {% else %}
        <div class="container container--left container--pad">
            {% if form.is_bound %}
                <p class="missing">{% trans "No orders match your search." %}</p>
            {% else %}
                <p class="missing">{% trans "You haven't placed any orders." %}</p>
            {% endif %}
        </div>
    {% endif %}

{% endblock tabcontent %}