{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
    <head>
        <title>{% if display_version %}[{% trans "Build" %} {{ version }}] {% endif %}{% block title %}{{ shop_name }}{{ shop_tagline }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block favicon %}
            <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
        {% endblock %}

        {# Block where global CSS will go. #}
        {% block styles %}{% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'unlabel/dist/css/bundle.css' %}" />

        {% block extrahead %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "partials/google_analytics.html" %}
        {% endblock %}
    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        <footer class="footer">
            <div class="footer__bar footer__bar--top">
                <nav class="footer__nav footer__nav--primary">
                    <a class="footer__logo" href="" title="Home">Home<span class="footer__logo fonticon fonticon--logo"></a>
                    <ul class="footer__navList">
                        <li>
                            <a href="" title="About us">About us</a>
                        </li>
                        <li>
                            <a href="" title="For brands">For brands</a>
                        </li>
                        <li>
                            <a href="" title="For creators">For creators</a>
                        </li>
                        <li>
                            <a href="" title="FAQ">FAQ</a>
                        </li>
                        <li>
                            <a href="" title="Contact us">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__bar footer__bar--bottom cols cols--align-middle">
                <div class="footer__copyright"><span class="footer__copyrightSymbol">©</span> 2017 Unlabel. All rights reserved</div>
                <nav class="footer__nav footer__nav--secondary">
                    <ul class="footer__navList footer__navList--legal">
                        <li>
                            <a href="" title="Terms">Terms</a>
                        </li>
                        <li>
                            <a href="" title="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="footer__navList footer__navList--social">
                        <li>
                            <a class="iconlink iconlink--small" href="" title="Share on Facebook"><span class="fonticon fonticon--facebook"></span></a>
                        </li>
                        <li>
                            <a class="iconlink iconlink--small" href="" title="Share on Instagram"><span class="fonticon fonticon--instagram"></span></a>
                        </li>
                        <li>
                            <a class="iconlink iconlink--small" href="" title="Share on Pinterest"><span class="fonticon fonticon--pinterest"></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery-1.9.1.min.js" %}"><\/script>')</script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBn2qzmwi0Ei1IpsLGEkwLQHDwPRJLrtUk"></script>
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
            <script src="{% static 'unlabel/dist/js/bundle.js' %}"></script>
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script type="text/javascript">
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
        <!-- {% trans "Version:" %} {{ version }} -->
    </body>
</html>

{% if active  %}
          <script>
          $('#active_id').prop('checked', true);
          </script>
      {% else %}
        <script>
          $('#active_id').prop('checked', false);
          </script>
      {% endif %}
{% if modified_date  %}
          <script>
          $('#modified_date').datepicker().datepicker("setDate", new Date());

          </script>

      {% endif %}

<script>
{#    $(document).ready(function(){#}
{#            var gender = $('#id_gender');#}
{#            var chest_or_bust = $('#id_chest_or_bust');#}
{#            if(gender.val()=="M")#}
{#                {#}
{#                    $("label[for='id_chest_or_bust']").text("Chest *");#}
{#                }#}
{#                else#}
{#                {#}
{#                    $("label[for='id_chest_or_bust']").text("Bust *");#}
{#                }#}


{#            var country_id = $('#id_country');#}
{#            var state_id = $('#id_state');#}
{#            var size_id = $('#id_size');#}
{##}
{#            if(country_id.val()=='US'){#}
{#                state_id.prop('disabled',false);#}
{#            }#}
{#            else{#}
{#                state_id.prop('disabled',true);#}
{#            }#}


{#    });#}


{#    var country_id = $('#id_country');#}
{#    var state_id = $('#id_state');#}
{#    var size_class_id = $('#id_size_class');#}
{#    var size_id = $('#id_size');#}
{##}
{#    size_class_id.change(function(e){#}
{#        $("#id_size").select2("val", "");#}
{#        size_id.prop('disabled',false);#}
{#                  $.ajax({#}
{#                       type:'GET',#}
{#                       url: '/api_v2/get_size?size_class='+size_class_id.val()+'',#}
{#                       success: function (data) {#}
{#                           var sizes= data.results;#}
{#                           var options = '';#}
{#                           for (var size = 0; size < sizes.length; size++) {#}
{#                               options += '<option value="' + sizes[size]['id'] + '">' + sizes[size]['size_sex_type'] +" "+ sizes[size]['size'] + '</option>';#}
{#                           }#}
{#                           $('#id_size').html(options);#}
{#                       }#}
{#                  });#}
{##}
{#    });#}



{#    var gender = $('#id_gender');#}
{#    var chest_or_bust = $('#id_chest_or_bust');#}
{#    gender.change(function(e){#}
{#                if(gender.val()=="M")#}
{#                {#}
{#                    $("label[for='id_chest_or_bust']").text("Chest *");#}
{#                }#}
{#                else#}
{#                {#}
{#                    $("label[for='id_chest_or_bust']").text("Bust *");#}
{#                }#}
{#        });#}



{#    country_id.change(function(e){#}
{#                if(country_id.val()=="US")#}
{#                {#}
{#                    state_id.prop('disabled',false);#}
{#                }#}
{#                else#}
{#                {#}
{#                    state_id.prop('disabled',true);#}
{#                    state_id.select2("val",null);#}
{#                }#}
{#        });#}



{#var not_valid=false;#}
{#$('#id_loc').on('input',function(event){#}
{#     not_valid=true;#}
{# });#}
{##}
{#    function initialize() {#}
{##}
{#        var input = document.getElementById('id_loc');#}
{#        var options = {#}
{#            types: ['(cities)'],#}
{#            componentRestrictions: {country:'US'}#}
{#        };#}
{##}
{#        var autocomplete = new google.maps.places.Autocomplete(input, options);#}
{#        autocomplete.addListener('place_changed', function (e) {#}
{#            var place = autocomplete.getPlace();#}
{#            if (!place.geometry) {#}
{#                not_valid=true;#}
{#                // User entered the name of a Place that was not suggested and#}
{#                // pressed the Enter key, or the Place Details request failed.#}
{#                window.alert("No such place'" + place.name + "'");#}
{#                event.preventDefault();#}
{#                return false;#}
{#            }#}
{#            else{#}
{#                not_valid=false;#}
{#            }#}
{##}
{#        });#}
{##}
{#    }#}
{##}
{#    google.maps.event.addDomListener(window, 'load', initialize);#}
{##}
{##}
{#jQuery.fn.exists = function(){ return this.length > 0; };#}
{#if ($('#id_loc').exists()) {#}
{#    $("#id_save_button").click(function(event){#}
{#       if (not_valid == true){#}
{#           event.preventDefault();#}
{#           setTimeout(function(){#}
{#              var $id_save_button = $('#id_save_button');#}
{#               $id_save_button.text("Save");#}
{#              setTimeout(function() {#}
{#                  $id_save_button.removeClass("disabled");#}
{#                  $id_save_button.removeAttr("disabled");#}
{#              }, 100);#}
{##}
{#              }, 100);#}
{#           window.alert("Please choose a valid location");#}
{#       }#}
{# });#}
{# }#}


</script>

