{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'unlabel/dist/css/bundle.css' %}" />
{% endblock %}

{% block layout %}
    <div id="app">
        {% include "partials/header.html" %}

        {% include "partials/alert_messages.html" %}
        {% block subnavigation %}{% endblock %}

        {# Div exists for AJAX updates to entire content section #}
        <main id="content_inner">{% block content %}{% endblock %}</main>

        {% include "partials/footer.html" %}
    </div>
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
