{% extends "layout.html" %}

{% block content_wrapper %}

{% block before_layout %}{% endblock %}

<div class="grid {% block layout_extra_classnames %}{% endblock %}">
    <div class="grid__sidebar {% block layout_sidebar_extra_classnames %}{% endblock %}">
        {% block column_left %}{% endblock %}
    </div>
    <div class="grid__content">
        {% block grid_header %}
        <div class="grid__header">
            <div class="grid__headerGroup">
                {% block grid_header_title %}{% endblock %}
            </div>
            <div class="grid__headerGroup">
                {% block grid_header_nav %}{% endblock %}
            </div>
        </div>
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
</div>

{% block after_layout %}{% endblock %}

{% endblock %}
