{% extends "pages/_homepage.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Join The Unlabel Network" %}{% endblock %}

{% block body_id %}join-unlabel-network{% endblock %}

{% block numbers %}
    <ul class="numbers">
        <li><a href="javascript:void(0)" onclick="gotoProject(1);">01</a></li>
        <li><a href="javascript:void(0)" onclick="gotoProject(2);">02</a></li>
        <li><a href="javascript:void(0)" onclick="gotoProject(3);">03</a></li>
        <li><a href="javascript:void(0)" onclick="gotoProject(4);">04</a></li>
        <li><a href="javascript:void(0)" onclick="gotoProject(5);">05</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="modules scrollview">
        <!-- Slide 1 -->
        <div class="module header" style="z-index: 2;">
            <div class="page">
                <div class="container-1">
                    <div class="container-2">
                        <div class="image">
                            <div class="custom">
                                <a href="javascript:void(0);">More</a> 
                                <div class="content">
                                    <div>
                                        <h1>
                                            Slide 1
                                        </h1>

                                    </div>
                                </div>
                                <div style="background-image: url(http://res.cloudinary.com/hqz2myoz0/image/upload/v1463244288/photo-1423784346385-c1d4dac9893a_nbekgz.jpg); background-size:cover; background-position: 50% 100%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="module header" style="z-index: 2;">
            <div class="page">
                <div class="container-1">
                    <div class="container-2">
                        <div class="image">
                            <div class="custom">
                                <a href="javascript:void(0);">More</a> 
                                <div class="content">
                                    <div>
                                        <h1>
                                            Slide 2
                                        </h1>

                                    </div>
                                </div>
                                <div style="background-image: url(http://res.cloudinary.com/hqz2myoz0/image/upload/v1463244288/photo-1423784346385-c1d4dac9893a_nbekgz.jpg); background-size:cover; background-position: 50% 100%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="module header" style="z-index: 2;">
            <div class="page">
                <div class="container-1">
                    <div class="container-2">
                        <div class="image">
                            <div class="custom">
                                <a href="javascript:void(0);">More</a> 
                                <div class="content">
                                    <div>
                                        <h1>
                                            Slide 3
                                        </h1>

                                    </div>
                                </div>
                                <div style="background-image: url(http://res.cloudinary.com/hqz2myoz0/image/upload/v1463244288/photo-1423784346385-c1d4dac9893a_nbekgz.jpg); background-size:cover; background-position: 50% 100%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 4 -->
        <div class="module header" style="z-index: 2;">
            <div class="page">
                <div class="container-1">
                    <div class="container-2">
                        <div class="image">
                            <div class="custom">
                                <a href="javascript:void(0);">More</a> 
                                <div class="content">
                                    <div>
                                        <h1>
                                            Slide 4
                                        </h1>

                                    </div>
                                </div>
                                <div style="background-image: url(http://res.cloudinary.com/hqz2myoz0/image/upload/v1463244288/photo-1423784346385-c1d4dac9893a_nbekgz.jpg); background-size:cover; background-position: 50% 100%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 5 -->
        <div class="module header" style="z-index: 2;">
            <div class="page">
                <div class="container-1">
                    <div class="container-2">
                        <div class="image">
                            <div class="custom">
                                <a href="javascript:void(0);">More</a> 
                                <div class="content">
                                    <div>
                                        <h1>
                                            Slide 5
                                        </h1>

                                    </div>
                                </div>
                                <div style="background-image: url(http://res.cloudinary.com/hqz2myoz0/image/upload/v1463244288/photo-1423784346385-c1d4dac9893a_nbekgz.jpg); background-size:cover; background-position: 50% 100%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 6 -->
        <div class="module header" style="z-index: 2;">
            <div class="page">
                <div class="container-1">
                    <div class="container-2">
                        <div class="image">
                            <div class="custom">
                                <a href="javascript:void(0);">More</a> 
                                <div class="content">
                                    <div>
                                        <h1>
                                            Slide 6
                                        </h1>

                                    </div>
                                </div>
                                <div style="background-image: url(http://res.cloudinary.com/hqz2myoz0/image/upload/v1463244288/photo-1423784346385-c1d4dac9893a_nbekgz.jpg); background-size:cover; background-position: 50% 100%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 7 -->
        <div class="module header" style="z-index: 2;">
            <div class="page">
                <div class="container-1">
                    <div class="container-2">
                        <div class="image">
                            <div class="custom">
                                <a href="javascript:void(0);">More</a> 
                                <div class="content">
                                    <div>
                                        <h1>
                                            Slide 7
                                        </h1>

                                    </div>
                                </div>
                                <div style="background-image: url(http://res.cloudinary.com/hqz2myoz0/image/upload/v1463244288/photo-1423784346385-c1d4dac9893a_nbekgz.jpg); background-size:cover; background-position: 50% 100%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}


{% block extra_script %}{% endblock %}






