{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block layout_extra_classnames %}grid--borderTopLess{% endblock %}

{% block layout_sidebar_extra_classnames %}color-context color-context--account u-desktop-only{% endblock %}

{% block grid_banner %}
    <h1 class="title title--caps">{{user.first_name}}<br>{{user.last_name}}</h1>
{% endblock %}

{% block grid_header_title %}
    <div class="grid__headerTitle u-desktop-only">{% block grid_header_titleContent %}{% endblock %}</div>
{% endblock %}

{% block column_left %}
    <div class="categories nested-lists">
        <ul class="nested-lists__list">
            <li class="nested-lists__item">
                <a class="categories__link {% if active_tab == 'brands' %} is-active{% endif %}" href="{% url 'customer:followed-brands' %}">{% trans "Followed Brands" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="categories__link {% if active_tab == 'creators' %} is-active{% endif %}" href="{% url 'customer:followed-creators' %}">{% trans "Followed Creators" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="categories__link {% if active_tab == 'products' %} is-active{% endif %}" href="{% url 'customer:liked-products' %}">{% trans "My Likes" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="categories__link {% if active_tab == 'orders' %} is-active{% endif %}" href="{% url 'customer:order-list' %}">{% trans "My Orders" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="nested-lists__link categories__link {% if active_tab == 'profile' or active_tab == 'addresses' or active_tab == 'notifications' or active_tab == 'password'  or active_tab == 'payments' %} is-active{% endif %}" href="{% url 'customer:profile-view' %}">{% trans "My Settings" %}</a>
                <ul class="nested-lists__list">
                    <li class="nested-lists__item">
                        <a class="categories__link {% if active_tab == 'profile' %} is-active{% endif %}" href="{% url 'customer:profile-view' %}">{% trans "My Informations" %}</a>
                    </li>
                    <li class="nested-lists__item">
                        <a class="categories__link {% if active_tab == 'addresses' %} is-active{% endif %}" href="{% url 'customer:address-list' %}">{% trans "My Address Book" %}</a>
                    </li>
                    <li class="nested-lists__item">
                        <a class="categories__link {% if active_tab == 'payments' %} is-active{% endif %}" href="{% url 'customer:my-payments' %}">{% trans "My Payment Methods" %}</a>
                    </li>
                    <li class="nested-lists__item">
                        <a class="categories__link {% if active_tab == 'password' %} is-active{% endif %}" href="{% url 'customer:change-password' %}">{% trans "Password" %}</a>
                    </li>
                    <li class="nested-lists__item">
                        <a class="categories__link {% if active_tab == 'notifications' %} is-active{% endif %}" href="{% url 'customer:notifications-inbox' %}">{% trans "Notifications" %}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block grid_header_filters %}
    <div class="select select--borderLess u-mobile-only">
        <select class="select-nav">
            <option value="{% url 'customer:followed-brands' %}" {% if active_tab == 'brands' %} selected="selected"{% endif %}>{% trans "Followed Brands" %}</option>
            <option value="{% url 'customer:followed-creators' %}" {% if active_tab == 'creators' %} selected="selected"{% endif %}>{% trans "Followed Creators" %}</option>
            <option value="{% url 'customer:liked-products' %}" {% if active_tab == 'products' %} selected="selected"{% endif %}>{% trans "My Likes" %}</option>
            <option value="{% url 'customer:order-list' %}" {% if active_tab == 'orders' %} selected="selected"{% endif %}>{% trans "My Orders" %}</option>
            <optgroup label="{% trans "My Settings" %}">
                <option value="{% url 'customer:profile-view' %}" {% if active_tab == 'profile' %} selected="selected"{% endif %}>{% trans "My Informations" %}</option>
                <option value="{% url 'customer:address-list' %}" {% if active_tab == 'addresses' %} selected="selected"{% endif %}>{% trans "My Address Book" %}</option>
                <option value="{% url 'customer:my-payments' %}" {% if active_tab == 'payments' %} selected="selected"{% endif %}>{% trans "My Payment Methods" %}</option>
                <option value="{% url 'customer:change-password' %}" {% if active_tab == 'password' %} selected="selected"{% endif %}>{% trans "Password" %}</option>
                <option value="{% url 'customer:notifications-inbox' %}" {% if active_tab == 'notifications' %} selected="selected"{% endif %}>{% trans "Notifications" %}</option>
            </optgroup>
        </select>
    </div>
{% endblock %}

{% block content %}
    {% block tabcontent %}{% endblock tabcontent %}
{% endblock content %}
