{% extends "customer/baseaccountpage.html" %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}

{% block grid_header_titleContent %}
    <h2 class="title title--small">{% trans "Followed brands" %}</h2>
{% endblock %}

{% block grid_header_results %}
    {% include "partials/number_of_results.html" %}
{% endblock %}

{% block content %}

    {% if brands %}
        <ol class="grid__list">
            {% for brand in brands %}
                <li class="grid__item">
                  {% include "brand/partials/brand.html" with unfollow=True %}
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <div class="grid__emptyMessage">
            <p class="missing">
                {% url 'brand-list' as redirect_url %}
                {% blocktrans %}
                    You don’t follow any brand.<br>
                    Go to <a class="link link--discrete link--matchFont" href="{{redirect_url}}">Brands</a> list to discover some.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}

        {% include "partials/pagination.html" %}

{% endblock content %}
