{% extends "customer/baseaccountpage.html" %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}

{% block grid_header_titleContent %}
    <h2 class="title title--small">{% trans "Followed brands" %}</h2>
{% endblock %}

{% block grid_header_results %}
    {% trans 'brand' as result_type_singular %}
    {% trans 'brands' as result_type_plural %}
    {% include "partials/number_of_results.html" %}
{% endblock %}

{% block content %}
    {% if brands %}
        {% include "brand/partials/brands_gridList.html" with unfollow=True %}
    {% else %}
        <div class="grid__emptyMessage">
            <p class="missing">
                {% url 'brand-list' as redirect_url %}
                {% blocktrans %}
                    You don’t follow any brand.<br>
                    Go to <a class="link link--thick link--discrete" href="{{redirect_url}}">Brands</a> list to discover some.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    {% if brands %}
        <div class="grid__paginationContainer color-context color-context--brands">
            {% include "partials/pagination.html" %}
        </div>
    {% endif %}
{% endblock after_layout %}
