{% extends "customer/baseaccountpage.html" %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}

{% block grid_header_titleContent %}
    <h2 class="title title--small">{% trans "Followed creators" %}</h2>
{% endblock %}

{% block grid_header_results %}
    {% trans 'creator' as result_type_singular %}
    {% trans 'creators' as result_type_plural %}
    {% include "partials/number_of_results.html" %}
{% endblock %}

{% block content %}
    {% if creators %}
        {% include "influencers/partials/influencers_gridList.html" with influencers=creators unfollow=True %}
    {% else %}
        <div class="grid__emptyMessage">
            <p class="missing">
                {% url 'influencers' as redirect_url %}
                {% blocktrans %}
                    You don’t follow any creators.<br>
                    Go to <a class="link link--discrete link--matchFont" href="{{redirect_url}}">Creators</a> list to discover some.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    {% if creators %}
        <div class="grid__paginationContainer color-context color-context--creators">
            {% include "partials/pagination.html" %}
        </div>
    {% endif %}
{% endblock after_layout %}
