{% extends "customer/baseaccountpage.html" %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}

{% block tabcontent %}

    {% if bankcards %}
        {% for bankcard in bankcards %}
        <div>
            <h2>{{ bankcard.card_type }}</h2>
            <h3>{{ bankcard.name}}</h3>
            <h3>{{ bankcard.number}}</h3>
            <h3>{{ bankcard.expiry_date}}</h3>
            <a href="{% url 'customer:my-payments-delete' pk=bankcard.id %}" class="btn btn-lg btn-primary" >{% trans "Delete" %}</a>
        </div>
            <br><br>
        {% endfor %}
        {% include "partials/pagination.html" %}
    {% endif %}

{% endblock tabcontent %}
