{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
    <form id="delete_profile_form" action="." method="post" class="form">
        {% csrf_token %}
        <div class="container container--pad24 container--medium container--left">
            <p class="u-bold">{% trans "Please confirm your password to delete your profile." %}</p>

            {% include "partials/form_errors.html" %}

            <div class="form__row form__row--m-2">
                {% include 'partials/form_field.html' with field=form.password %}
            </div>
            

            <div class="form__alert form__alert--error">
                <p>
                    {% blocktrans %}
                        <span class="u-bold">Warning : </span>This will delete all information about you from the site.  Deleting your profile cannot be undone.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <hr>
        <div class="container container--pad24 container--medium container--left">
            <button class="cta cta--danger" type="submit">{% trans "Delete" %}</button>
            <a class="cta cta--dark" href="{% url 'customer:profile-update' %}">{% trans "Cancel" %}</a>.
        </div>
    </form>
{% endblock tabcontent %}
