{% extends "layout_2_col.html" %}
{% load i18n %}

{% block body_class %}brands{% endblock %}

{% block before_layout %}
  {% trans "Our bra- nds" as triptych_title %}
  {% include "brand/partials/brand_triptych.html" with triptych_title=triptych_title triptych_isBigTitle=True triptych_isWrapperThinner=True triptych_isContentDesktopOnly=True %}
{% endblock before_layout %}

{% block content_classnames %}color-context color-context--brands{% endblock %}

{% block layout_sidebar_extra_classnames %}u-desktop-only{% endblock %}

{# TODO : makes styles dynamic #}
{% block column_left %}
  <div class="filters">
    {% if styles %}
      <div class="filters__category">
        <h3 class="subtitle">{% trans "Style" %}</h3>
        <ul class="filters__list">
          {% for style in styles %}
            <li class="filters__item">
              <a href="?products_category={{ style }}">{{ style }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if locations %}
      <div class="filters__category">
        <h3 class="subtitle">{% trans "Location" %}</h3>
        <ul class="filters__list">
          {% for location in locations %}
            <li class="filters__item">
              <a href="?location={{ location }}">{{ location }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock column_left %}

{% block grid_header_filters %}
  <a class="link u-mobile-only" href="#drawer-filters">{% trans 'Filters' %}</a>

  <div class="drawer drawer--right" id="drawer-filters">
      <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Filters' %}"></a>
      <div class="drawer__frame">
          <div class="drawer__header drawer__header--bar">
              <div class="drawer__headerContent">
                  <span class="title title--small">{% trans 'Filters' %}</span>
              </div>
              <a href="#close-drawer" class="drawer__close close" title="{% trans 'Close Filters' %}"></a>
          </div>
          <div class="drawer__scroller">
              <div class="drawer__content">
                  <div class="nested-lists">
                      <ul class="nested-lists__list drawer__list">
                        {% if styles %}
                          <li class="nested-lists__item">
                            <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                              <span class="drawer__linkLabel">
                                <strong>Style</strong>
                              </span>
                              <span class="drawer__linkIcon"></span>
                            </a>
                            <ul class="nested-lists__list drawer__list">
                              {% for style in styles %}
                                <li class="nested-lists__item">
                                  <a class="nested-lists__link drawer__link" href="?products_category={{ style }}">
                                    <span class="drawer__linkLabel">{{ style }}</span>
                                    <span class="drawer__linkIcon"></span>
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                        {% if locations %}
                          <li class="nested-lists__item">
                            <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                              <span class="drawer__linkLabel">
                                <strong>Location</strong>
                              </span>
                              <span class="drawer__linkIcon"></span>
                            </a>
                            <ul class="nested-lists__list drawer__list">
                              {% for location in locations %}
                                <li class="nested-lists__item">
                                  <a class="nested-lists__link drawer__link" href="?location={{ location }}">
                                    <span class="drawer__linkLabel">{{ location }}</span>
                                    <span class="drawer__linkIcon"></span>
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                      </ul>
                  </div>
                  <div class="drawer__actions">
                    <a class="cta cta--dark cta--block">Apply Filters</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block grid_header_sortBy %}
    {% include "partials/grid_sort_by.html" %}
{% endblock %}

{% block grid_header_results %}
    {% include "partials/number_of_results.html" %}
{% endblock %}

{% block content %}
   {% if brands %}
       <ol class="grid__list">
           {% for brand in brands %}
               <li class="grid__item">
                 {% include "brand/partials/brand.html" %}
               </li>
           {% endfor %}
       </ol>
   {% else %}
      <div class="grid__emptyMessage">
        <p class="missing">{% trans "No Brands found." %}</p>
      </div>
   {% endif %}

{% endblock content %}

{% block after_layout %}
    <div class="grid__paginationContainer">
        {% include "partials/pagination.html" %}
    </div>
{% endblock %}
