{% extends "layout.html" %}
{% load i18n %}


{% block content %}
<h1>OUR BRANDS</h1>
<h3>Products</h3>
    <ul>
    <li><a href="?products_category=all">All</a></li>
    <li><a href="?products_category=Menswear">Mens apparel</a></li>
    <li><a href="?products_category=Womenswear">Womens apparel</a></li>
    </ul>
<h3>Location</h3>

    {% if locations %}
         <ul>
            {% for l in locations %}
                <li><a href="?location={{ l }}">{{ l }}</a></li>
            {% endfor %}
         </ul>
    {% endif %}

    {% if brands %}
         <p><b>{{brands.count}} results</b></p>
        {% for brand in brands %}
            <a href="{{ brand.slug }}"><img class="image-adjust" src="{{ MEDIA_URL }}{{ brand.image }}" style="width:100%">
            <h4>Name : {{ brand.name }}</h4>
            <h4>City : {{ brand.location.city }}</h4>
            <h4>Country : {{ brand.location.country }}</h4></a>
       {% endfor %}

   {% endif %}

    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}
