{% extends "layout_2_col.html" %}
{% load i18n %}
{% load product_tags  %}

{% block body_class %}brand{% endblock %}

{% block before_layout %}
    <div class="container container--pad">
        <div class="cols cols--m-2 cols--m-gutter32">
            <div class="col brand__overviewCol">
                <figure>
                    <div class="img-container img-container--landscape">
                        <img src="{{ MEDIA_URL }}{{ brand.image }}" alt="{{ brand.name }}">
                    </div>
                </figure>
            </div>
            <div class="col brand__overviewCol brand__overviewCol--info">
                <div class="brand__infoHeader">
                    <h2 class="title">{{ brand.name }}</h2>
                    <p class="brand__location">{{ brand.location.city }}, {{ brand.location.country }}</p>
                </div>
                <div class="brand__infoContent">
                    <form class="brand__followForm">
                        <button class="cta cta--dark" id="follow_button" onclick="getFollowData('{{ brand.pk }}')">
                            {% if brand_followed %} UnFollow {% else %} Follow {% endif %} brand</button> {# TODO - add follow brand functionality #}
                    </form>
                    <p class="brand__nbOfFollowers" id="follow_count">{{follow_count}} followers</p> {# TODO - make number of followers it dynamic #}
                </div>
            </div>
        </div>
    </div>
{% endblock before_layout %}

{% block column_left %}
    <div class="grid__sidebarWidget">
        {{ brand.description }}
    </div>

    <div class="grid__sidebarWidget u-desktop-only">
        <div class="filters">
            <div class="filters__category">
              <h3 class="subtitle">{% trans "Filters" %}</h3>
              <ul class="filters__list">
                {% for f in filters %}
                  <li class="filters__item">
                    <a href="?products_category={{ f }}">{{ f }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
        </div>
    </div>
    <div class="grid__sidebarWidget">
        {% include "partials/share_menu.html" %}
    </div>
{% endblock column_left %}

{% block grid_header_filters %}
  <a class="link link--thick u-mobile-only" href="#drawer-filters">{% trans 'Filters' %}</a>

  <div class="drawer drawer--right" id="drawer-filters">
      <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Filters' %}"></a>
      <div class="drawer__frame">
          <div class="drawer__header drawer__header--bar">
              <div class="drawer__headerContent">
                  <span class="title title--small">{% trans 'Filters' %}</span>
              </div>
              <a href="#close-drawer" class="drawer__close close" title="{% trans 'Close Filters' %}"></a>
          </div>
          <div class="drawer__scroller">
              <div class="drawer__content">
                  <div class="nested-lists">
                      <ul class="nested-lists__list drawer__list">
                        {% if filters %}
                          <li class="nested-lists__item">
                            <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                              <span class="drawer__linkLabel">
                                <strong>Style</strong>
                              </span>
                              <span class="drawer__linkIcon"></span>
                            </a>
                            <ul class="nested-lists__list drawer__list">
                              {% for f in filters %}
                                <li class="nested-lists__item">
                                  <a class="nested-lists__link drawer__link" href="?products_category={{ f }}">
                                    <span class="drawer__linkLabel">{{ f }}</span>
                                    <span class="drawer__linkIcon"></span>
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                      </ul>
                  </div>
                  <div class="drawer__actions">
                    <a class="cta cta--dark cta--block">Apply Filters</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block grid_header_sortBy %}
    {% include "partials/grid_sort_by.html" %}
{% endblock %}

{% block grid_header_results %}
    {# TODO - make number of results work #}
    {% include "partials/number_of_results.html" %}
{% endblock %}

{% block content_classnames %}color-context color-context--brand{% endblock %}

{% block content %}
    {% if products %}
        {% include "catalogue/partials/products_gridList.html" %}
    {% else %}
        <div class="grid__emptyMessage">
            <p class="missing">{% trans "No products for now." %}</p>
        </div>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    <div class="u-desktop-only">
      {% trans "More bra- nds" as triptych_title %}
      {% include "brand/partials/brand_triptych.html" with triptych_title=triptych_title triptych_isBigTitle=True triptych_isWrapperThinner=True %}
    </div>
{% endblock after_layout %}

{% block extrascripts %}
    {{ block.super }}
    <script>

      function getFollowData(brand_id) {
      $.ajax({
        url: "/accounts/follow-unfollow-brand/" + brand_id,

        success: function (data) {
            // TODO the message to be shown is also sent in the response data
            if (data['followed'] == true){
                $( "#follow_button" ).text( 'Unfollow brand' );
            }
            else{
                $( "#follow_button" ).text( 'Follow brand' );
            }
            $( "#follow_count" ).text( data['follow_count'] );
        }
      });
    }

    </script>


{% endblock %}

