{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% with all_images=product.images.all %}

<div class="gallery">
	<div class="swiper-container gallery__larges">
		<div class="swiper-wrapper">
			{% for image in all_images %}
				<div class="swiper-slide">
					{% thumbnail image.original "544x544" crop="center" as thumb %}
					<img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
					{% endthumbnail %}
				</div>
			{% endfor %}
		</div>
	</div>
	
	{% if all_images|length > 1 %}

		<div class="swiper-container gallery__thumbs">
			<div class="swiper-wrapper">
				{% for image in all_images %}
					<a href="" class="gallery__link swiper-slide" data-slide-to="{{ forloop.counter0 }}">
						{% thumbnail image.original "64x64" crop="center" as thumb %}
						<img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
						{% endthumbnail %}
					</a>
				{% endfor %}
			</div>
		</div>

	{% endif %}
</div>

{% endwith %}
