{% extends "partials/triptych.html" %}
{% load staticfiles %}
{% load i18n %}
{% load currency_filters %}
{% load purchase_info_tags %}
        {% load thumbnail %}

{% block triptych_extraClasses %}color-context color-context--products{% endblock %}

{% block triptych_bg %}{# No background #}{% endblock %}

{# TODO : dynamic content #}
{% block triptych_content %}
	<ul class="cols cols--m-3">
		<li class="col">
			<a href="{{ promoted_products.0.get_absolute_url }}" class="triptych__itemLink">
				<figure>
                    {% block product_image_partial_1 %}
                        {% with image=promoted_products.0.primary_image %}
                            {% thumbnail image.original "284x284" crop="center" upscale=True as thumb %}
                            <div class="img-container img-container--square">
                                <img src="{{ thumb.url }}" alt="{{ promoted_products.0.get_title }}" width="284" height="284">
                            </div>
                            {% endthumbnail %}
                        {% endwith %}
                    {% endblock %}

					<figcaption>
						<p>{{promoted_products.0.title}}</p>
                        {% purchase_info_for_product request promoted_products.0 as session %}
                            {% if session.price.exists %}
                                {% if session.price.is_tax_known %}
                                    <p><small>{{ session.price.incl_tax|currency:session.price.currency }}</small></p>
                                {% endif %}
                            {% endif %}
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="{{ promoted_products.1.get_absolute_url }}" class="triptych__itemLink">
				<figure>
					{% block product_image_partial_2 %}
                        {% with image=promoted_products.1.primary_image %}
                            {% thumbnail image.original "284x284" crop="center" upscale=True as thumb %}
                            <div class="img-container img-container--square">
                                <img src="{{ thumb.url }}" alt="{{ promoted_products.1.get_title }}" width="284" height="284">
                            </div>
                            {% endthumbnail %}
                        {% endwith %}
                    {% endblock %}
					<figcaption>
						<p>{{promoted_products.1.title}}</p>
						{% purchase_info_for_product request promoted_products.1 as session %}
                            {% if session.price.exists %}
                                {% if session.price.is_tax_known %}
                                    <p><small>{{ session.price.incl_tax|currency:session.price.currency }}</small></p>
                                {% endif %}
                            {% endif %}
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="" class="triptych__itemLink">
				<figure>
					{% block product_image_partial_3 %}
                        {% with image=promoted_products.2.primary_image %}
                            {% thumbnail image.original "284x284" crop="center" upscale=True as thumb %}
                            <div class="img-container img-container--square">
                                <img src="{{ thumb.url }}" alt="{{ promoted_products.2.get_title }}" width="284" height="284">
                            </div>
                            {% endthumbnail %}
                        {% endwith %}
                    {% endblock %}
					<figcaption>
						<p>{{promoted_products.2.title}}</p>
						{% purchase_info_for_product request promoted_products.2 as session %}
                            {% if session.price.exists %}
                                {% if session.price.is_tax_known %}
                                    <p><small>{{ session.price.incl_tax|currency:session.price.currency }}</small></p>
                                {% endif %}
                            {% endif %}
					</figcaption>
				</figure>
			</a>
		</li>
	</ul>
{% endblock %}

{# TODO : dynamic link #}
{% block triptych_navContent %}
	<a class="cta" href="#">{% trans 'See The Arrivals page' %}</a>
{% endblock %}