{% extends "partials/triptych.html" %}
{% load staticfiles %}
{% load i18n %}

{% block triptych_extraClasses %}color-context color-context--products{% endblock %}

{% block triptych_bg %}{# No background #}{% endblock %}

{# TODO : dynamic content #}
{% block triptych_content %}
	<ul class="cols cols--m-3">
		<li class="col">
			<a href="" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--square">
						<img src="{% static 'unlabel/dist/img/temp/more-product-1.jpg' %}" alt="">
					</div>
					<figcaption>
						<p>Bonded Wool Parka</p>
						<p><small>$695.00</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--square">
						<img src="{% static 'unlabel/dist/img/temp/more-product-2.jpg' %}" alt="">
					</div>
					<figcaption>
						<p>Unisex Bomber</p>
						<p><small>$345.00</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--square">
						<img src="{% static 'unlabel/dist/img/temp/more-product-3.jpg' %}" alt="">
					</div>
					<figcaption>
						<p>Petra Long Coat</p>
						<p><small>$465.00</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
	</ul>
{% endblock %}

{# TODO : dynamic link #}
{% block triptych_navContent %}
	<a class="cta" href="#">{% trans 'See The Arrivals page' %}</a>
{% endblock %}