{% load thumbnail %}

{% load currency_filters %}
{% load purchase_info_tags %}

{% block product %}
    <article>
        <a class="grid__itemInner u-block" href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
            <figure>
                {% block product_image %}
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "284x284" crop="center" upscale=True as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" width="284" height="284">
                        {% endthumbnail %}
                    {% endwith %}
                {% endblock %}
                <figcaption>
                    {% block product_title %}
                        <p>{{ product.get_title|truncatewords:4 }}</p>
                    {% endblock %}
                    <p><small>by Influencer Name • Brand Name</small></p>
                    {% block product_price %}
                        {% purchase_info_for_product request product as session %}
                        {% if session.price.exists %}
                            {% if session.price.is_tax_known %}
                                <p><small>{{ session.price.incl_tax|currency:session.price.currency }}</small></p>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </figcaption>
            </figure>
        </a>
    </article>
{% endblock %}
