{% load thumbnail %}

{% load i18n %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% block product %}
    <article>
        <div class="grid__itemInner">
            <a class="u-block" href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
                <figure>
                    {% block product_image %}
                        {% with image=product.primary_image %}
                            {% thumbnail image.original "284x284" crop="center" upscale=True as thumb %}
                            <div class="img-container img-container--square">
                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" width="284" height="284">
                            </div>
                            {% endthumbnail %}
                        {% endwith %}
                    {% endblock %}
                    <figcaption>
                        {% block product_title %}
                            <h2>{{ product.get_title|truncatewords:4 }}</h2>
                        {% endblock %}
                        {# TODO : make sure this works once products are suggested by influencers #}
                        {% if product.get_influencer or product.get_brand %}
                            <h3><small>
                                {% if product.get_influencer %}
                                    {% trans 'by' %} {{ product.get_influencer.first_name}} {{ product.get_influencer.last_name}}
                                {% endif %}
                                {% if product.get_influencer and product.get_brand %}
                                    &nbsp;•&nbsp;
                                {% endif %}
                                {% if product.get_brand %}
                                    {{ product.get_brand}}
                                {% endif %}
                            </small></h3>    
                        {% endif %}
                        {% block product_price %}
                            {% purchase_info_for_product request product as session %}
                            {% if session.price.exists %}
                                {% if session.price.is_tax_known %}
                                    <p><small>{{ session.price.incl_tax|currency:session.price.currency }}</small></p>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                    </figcaption>
                </figure>
            </a>
        </div>
    </article>
{% endblock %}
