{% extends "partials/triptych.html" %}
{% load staticfiles %}

{% block triptych_extraClasses %}color-context color-context--creators{% endblock %}

{# TODO : dynamic content #}
{% block triptych_content %}
	<ul class="cols cols--m-3">
		<li class="col">
			<a href="{% url 'ucc_detail' id=promoted_influencers.0.id %}" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--portrait">
                        {% if promoted_influencers.0.users.image %}
                            <img src="{{ promoted_influencers.0.users.image.url }}" alt="">
                        {% else %}
                            <img src="" alt="">
                        {% endif %}
					</div>
					<figcaption>
						<p>{{ promoted_influencers.0.users.first_name }}{{ promoted_influencers.0.users.last_name }}</p>
						<p><small>{{ promoted_influencers.0.location }}</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="{% url 'ucc_detail' id=promoted_influencers.1.id %}" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--portrait">
						{% if promoted_influencers.1.users.image %}
                            <img src="{{ promoted_influencers.1.users.image.url }}" alt="">
                        {% else %}
                            <img src="" alt="">
                        {% endif %}
					</div>
					<figcaption>
						<p>{{ promoted_influencers.1.users.first_name }}{{ promoted_influencers.1.users.last_name }}</p>
						<p><small>{{ promoted_influencers.1.location }}</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="{% url 'ucc_detail' id=promoted_influencers.2.id %}" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--portrait">
						{% if promoted_influencers.2.users.image %}
                            <img src="{{ promoted_influencers.2.users.image.url }}" alt="">
                        {%else%}
                            <img src="" alt="">
                        {% endif %}
					</div>
					<figcaption>
						<p>{{ promoted_influencers.2.users.first_name }}{{ promoted_influencers.2.users.last_name }}</p>
						<p><small>{{ promoted_influencers.2.location }}</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
	</ul>
{% endblock %}

{% block triptych_nav %}{# No nav #}{% endblock %}