{% load thumbnail %}
{% load i18n %}

<article>
    <div class="grid__itemInner">
        <a class="u-block" href="{% url 'ucc_detail' id=influencer.id %}" title="{{ influencer.users.first_name|title }} {{ influencer.users.last_name|title }}">
            <figure>
                <div class="img-container img-container--portrait">
                    {% if influencer.users.image %}
                        <img src="{{ influencer.users.image.url }}" alt="{{ influencer.users.first_name|title }} {{ influencer.users.last_name|title }}">
                    {% endif %}
                </div>
                <figcaption>
                    <h2>{{ influencer.users.first_name|title }} {{ influencer.users.last_name|title }}</h2>
                    <p>{{ influencer.location.city }}, {{ influencer.location.state }}, {{ influencer.location.country }}</p>
                </figcaption>
            </figure>
        </a>
        {% if unfollow %}
            <a href="{% url 'customer:unfollow-creator' pk=influencer.id %}" class="cta cta--mild cta--block grid__itemAction">{% trans "Unfollow" %}</a>
        {% endif %}
    </div>
</article>