{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% load product_tags  %}

{% block content %}

<section class="home__header">
    <div class="container">
        <div class="home__headerWrapper">
            <div class="visual visual--wideLandscape">
                <img src="{% static 'unlabel/dist/img/temp/home-visual.jpg' %}" alt="{% trans 'Header header visual' %}">
            </div>
            <div class="home__headerTitleContainer">
                <h2 class="title title--headline">
                    <span class="u-block">Unla</span>
                    <div class="u-block">bel
                        <div class="logo">
                            <span class="logo__icon">
                                <img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="{% trans 'Unlabel Logo' %}">
                            </span>
                        </div>
                    </div>
                </h2>
            </div>
            <div class="cols cols--m home__headerCols">
                <div class="col home__headerIntroContainer">
                    <p class="title title--medium">{% trans 'The best way to shop  nice products from independent brands all over the world.' %}</p>
                </div>
                <div class="col home__headerActions">
                    <a href="{% url 'customer:register' %}" class="cta">{% trans 'Create an account' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home__creators">

    {# TODO : make all this section dynamic (creators content and links) #}
    
    <!--
        {% for influencer in influencers %}
            {{ influencer.users.first_name }}
            <img class="image-adjust" src="{{ MEDIA_URL }}{{ influencer.users.image }}" class="thumbnail">
        {% endfor %}
    -->

    <div class="home__CreatorsBg"></div>

    <div class="container">
        <div class="home__creatorsCols">
            <div class="home__creatorsCol home__creatorsCol--left">
                <article class="home_creatorGridItem">
                    <a href="#" class="u-block">
                        <figure>
                            <img src="{% static 'unlabel/dist/img/temp/home-ucc-1.jpg' %}">
                            <figcaption>
                                <h3>Caitlin Miyako Taylor</h3>
                                <p><small>Los Angeles, USA</small></p>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <div class="home__creatorsTitleContainer">
                    <h2 class="title title--caps">{% trans 'Our<br> content<br> creators' %}</h2>
                </div>
                <div class="home__creatorsCtaContainer">
                    <a class="cta cta--dark" href="#">{% trans 'Discover more' %}</a>
                </div>
                <div class="home__creatorsSubtitleContainer">
                    <div class="subtitle subtitle--medium home_creatorGridItem">{% trans 'All our products are selected by our content creators for their quality, style and uniqueness.' %}</div>
                </div>
            </div>
            <div class="home__creatorsCol home__creatorsCol--middle">
                <article class="home_creatorGridItem">
                    <a href="#" class="u-block">
                        <figure>
                            <img src="{% static 'unlabel/dist/img/temp/home-ucc-2.jpg' %}">
                            <figcaption>
                                <h3>Morgan Connellee</h3>
                                <p><small>New York City, USA</small></p>
                            </figcaption>
                        </figure>
                    </a>
                </article>
            </div>
            <div class="home__creatorsCol home__creatorsCol--right u-desktop-only">
                <article class="home_creatorGridItem">
                    <a href="#" class="u-block">
                        <figure>
                            <img src="{% static 'unlabel/dist/img/temp/home-ucc-3.jpg' %}">
                            <figcaption>
                                <h3>Luca Deasti</h3>
                                <p><small>Stockholm, Sw</small></p>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <article class="home_creatorGridItem">
                    <a href="#" class="u-block">
                        <figure>
                            <img src="{% static 'unlabel/dist/img/temp/home-ucc-4.jpg' %}">
                            <figcaption>
                                <h3>Genesis Stuart</h3>
                                <p><small>Miami, USA</small></p>
                            </figcaption>
                        </figure>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="home__brands">
    <div class="container">
        <h2 class="home__brandsTitle title title--caps">{% trans 'Our<br class="u-desktop-only"/> Brands' %}</h2>

        <div class="home__brandsCarousel carousel">
            <div class="cols cols--m cols--align-left cols--align-top">
                <div class="col brands__carouselColLeft">
                    <div class="swiper-container carousel_visualsSlider home__brandsVisualsSlider">
                        <div class="swiper-wrapper">
                            {# TODO : remove static data #}
                            <div class="swiper-slide">
                                <div class="visual visual--landscape">
                                    <img src="{% static 'unlabel/dist/img/temp/home-slide1.jpg' %}" alt="Brands Carousel Slide 1 Visual">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="visual visual--landscape">
                                    <img src="{% static 'unlabel/dist/img/temp/home-slide2.jpg' %}" alt="Brands Carousel Slide 2 Visual">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="visual visual--landscape">
                                    <img src="{% static 'unlabel/dist/img/temp/home-slide3.jpg' %}" alt="Brands Carousel Slide 3 Visual">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="visual visual--landscape">
                                    <img src="{% static 'unlabel/dist/img/temp/home-slide4.jpg' %}" alt="Brands Carousel Slide 4 Visual">
                                </div>
                            </div>
                            {# TODO : dynamic brands images #}
                            {% for brand in brands %}
                                <div class="swiper-slide">
                                    <div class="visual visual--landscape">
                                        <img src="{{ MEDIA_URL }}{{ brand.image }}" alt="{{ brand.name }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col brands__carouselColRight">
                    <div class="swiper-container carousel__backgroundsSlider home__brandsBgsSlider">
                        <div class="swiper-wrapper">
                            {# TODO : remove static data #}
                            <div class="swiper-slide">
                                <div class="carousel__bgSlide" style="background-color: #EDDDDD;"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel__bgSlide" style="background-color: #DEEDEE;"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel__bgSlide" style="background-color: #DDE0ED;"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel__bgSlide" style="background-color: #F5E5D9;"></div>
                            </div>
                            {# TODO : dynamic brands color  #}
                            {% for brand in brands %}
                                <div class="swiper-slide">
                                    <div class="carousel__bgSlide" style="background-color: {{ brand.color|default:'#EDDDDD' }};"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="home__brandsCarouselContentWrapper">
                        <div class="swiper-container carousel_contentsSlider home__brandsContentsSlider">
                            <div class="swiper-wrapper">
                                {# TODO : remove static data #}
                                <div class="swiper-slide">
                                    <h3 class="carousel_contentItem subtitle">Lily Stan</h3>
                                    <div class="carousel__contentItem desc desc--small">Lily Stan Studio was created by Lily Harris inspired simply by the clothing she wished she had. Lily designs each style to be easy to wear &amp; layer with one another as a uniform.</div>
                                </div>
                                <div class="swiper-slide">
                                    <h3 class="carousel_contentItem subtitle">Stan Lily</h3>
                                    <div class="carousel__contentItem desc desc--small">Lily Stan Studio was created by Lily Harris inspired simply by the clothing she wished she had. Lily designs each style to be easy to wear &amp; layer with one another as a uniform.</div>
                                </div>
                                <div class="swiper-slide">
                                    <h3 class="carousel_contentItem subtitle">Lily Stan</h3>
                                    <div class="carousel__contentItem desc desc--small">Lily Stan Studio was created by Lily Harris inspired simply by the clothing she wished she had. Lily designs each style to be easy to wear &amp; layer with one another as a uniform.</div>
                                </div>
                                <div class="swiper-slide">
                                    <h3 class="carousel_contentItem subtitle">Stan Lily</h3>
                                    <div class="carousel__contentItem desc desc--small">Lily Stan Studio was created by Lily Harris inspired simply by the clothing she wished she had. Lily designs each style to be easy to wear &amp; layer with one another as a uniform.</div>
                                </div>
                                {# TODO : dynamic brands titles and descriptions #}
                                {% for brand in brands %}
                                    <div class="swiper-slide">
                                        <h3 class="carousel_contentItem subtitle">{{ brand.name|default:'Brand Name' }}</h3>
                                        <div class="carousel__contentItem desc desc--small">{{ brand.desc|default:'Brand Description' }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="home__brandsCarouselNav">
                            <a class="carousel__btn carousel__btn--prev" href="#prev"><span class="fonticon fonticon--smallBox fonticon--carouselArrowLeft"></span></a><a class="carousel__btn carousel__btn--next" href="#next"><span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="home__brandsNav">
            {# TODO : correct urls #}
            <ul class="home__brandsNavList">
                <li class="home__brandsNavItem">
                    <a href="{% url 'catalogue:index' %}" class="cta">{% trans 'See Women’s apparel' %}</a>
                </li>
                <li class="home__brandsNavItem">
                    <a href="#" class="cta cta--dark">{% trans 'See All Brands' %}</a>
                </li>
                <li class="home__brandsNavItem">
                    <a href="{% url 'catalogue:index' %}" class="cta">{% trans 'See Men’s apparel' %}</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="home__story">
    <div class="container">
        <div class="home__storyWrapper">
            <h2 class="subtitle">{% trans 'What we are' %}</h2>
            <div class="desc home__storyDesc">{% trans 'Nullam maximus faucibus volutpat. Morbi ut erat nunc. Nulla cursus erat vitae dui dictum facilisis. Maecenas vel erat orci. Cras fringilla nunc in nibh tempor, et feugiat quam pellentesque.<br>Vivamus blandit bibendum pellentesque. Cras imperdiet commodo diam at hendrerit. Vivamus at semper erat, vel interdum lectus. Proin sagittis est sed interdum finibus. Suspendisse id vulputate est. Cras sed ligula nec nisl vehicula ultricies.' %}</div>
        </div>
    </div>
</section>

<section class="home__products">
    <div class="container">
        <h2 class="title title--caps home__productsTitle">{%trans 'Start<br>shopping' %}</h2>
    </div>
    <div class="grid2 home__productsGrid">
        <ol class="grid2__list">
            {% for product in products %}
                <li class="grid2__item">{% render_product product %}</li>
            {% endfor %}
        </ol>
    </div>
</section>

{% endblock content %}
