.u-mobile-only {
  @media $mq_m {
    display none !important
  }
}

.u-desktop-only {
  @media $mq_s_only {
    display none !important
  }
}

.u-icon-replace {
  text-align left
  text-indent -9999px
  overflow hidden
  backface-visibility hidden
  
  .fonticon {
   text-indent 0 
  }
}