{% extends "layout_2_col.html" %}

{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}


{% block head_title %}{% trans "#UnlabelDiscovery" %}{% endblock %}

{% block body_class %}influncers-campaign{% endblock %}

{% block column_left %}
    <form method="post" action='/influencers/unlabel-influencers/'>
        {% csrf_token %}
        {{ FilterForm.as_p }}
    <button type="submit" class="btn btn-sm btn-primary" data-loading-text="{% trans 'Filtering...' %}">{% trans "Apply" %}</button>

    </form>

{% endblock %}

{% block content %}
    <a href="?filter=test">
        <h2>Influencers</h2></a>

    {% for influencer in influencers %}
        <div>
        <h4>{{ influencer.name|title }}</h4>
        <img class="image-adjust" src="{{ MEDIA_URL }}{{ influencer.users.image }}" class="thumbnail">
        <h4>{{ influencer.location.city }},{{ influencer.location.state }},{{ influencer.location.country }}</h4>
        </div>

    {% endfor %}
{% endblock %}














