{% extends "layout_2_col.html" %}

{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block body_class %}creators{% endblock %}

{% block before_layout %}
  {% trans "Our crea tors" as triptych_title %}
  {% include "influencers/partials/influencers_triptych.html" with triptych_title=triptych_title triptych_isBigTitle=True triptych_isWrapperThinner=True triptych_isContentDesktopOnly=True %}
{% endblock before_layout %}

{% block content_classnames %}color-context color-context--creators{% endblock %}

{% block layout_sidebar_extra_classnames %}u-desktop-only{% endblock %}

{% block column_left %}
    <div class="filters">
        <div class="filters__category">
          <h3 class="subtitle">{% trans "Gender" %}</h3>
          <ul class="filters__list">
              <li class="filters__item">
                <input type="checkbox" id="gender_male" name="gender" onclick="generateFilteredData('gender','male')"
                   value="male"> Male
              </li>
              <li class="filters__item">
                <input type="checkbox" id="gender_female" name="gender" onclick="generateFilteredData('gender','female')"
               value="male"> Female
              </li>
          </ul>
        </div>

        <div class="filters__category">
          <h3 class="subtitle">{% trans "Style" %}</h3>
          <ul class="filters__list">
            {% for style in styles %}
              <li class="filters__item">
                <input type="checkbox" id="style_{{ style.id }}" name="style" onclick="generateFilteredData('style',{{ style.id }})"
               value="{{ style.id }}"> {{ style }}
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="filters__category">
          <h3 class="subtitle">{% trans "Location" %}</h3>
          <ul class="filters__list">
            {% for location in locations %}
              <li class="filters__item">
                <input type="checkbox" id="location_{{ location.id }}" name="location" onclick="generateFilteredData('location',{{ location.id }})"
               value="{{ location.id }}"> {{ location }}
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
{% endblock column_left %}

{% block grid_header_filters %}
  <a class="link u-mobile-only" href="#drawer-filters">{% trans 'Filters' %}</a>

  <div class="drawer drawer--right" id="drawer-filters">
      <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Filters' %}"></a>
      <div class="drawer__frame">
          <div class="drawer__header drawer__header--bar">
              <div class="drawer__headerContent">
                  <span class="title title--small">{% trans 'Filters' %}</span>
              </div>
              <a href="#close-drawer" class="drawer__close close" title="{% trans 'Close Filters' %}"></a>
          </div>
          <div class="drawer__scroller">
              <div class="drawer__content">
                  <div class="nested-lists">
                      <ul class="nested-lists__list drawer__list">
                        <li class="nested-lists__item">
                          <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                            <span class="drawer__linkLabel">
                              <strong>{% trans "Gender" %}</strong>
                            </span>
                            <span class="drawer__linkIcon"></span>
                          </a>
                          <ul class="nested-lists__list drawer__list">
                            <li class="nested-lists__item">
                              <div class="nested-lists__link drawer__link">
                                <span class="drawer__linkLabel">
                                  <input type="checkbox" id="gender_male" name="gender" onclick="generateFilteredData('gender', 'male')" value="male">
                                  {% trans 'Male' %}
                                </span>
                                <span class="drawer__linkIcon"></span>
                              </div>
                            </li>
                            <li class="nested-lists__item">
                              <div class="nested-lists__link drawer__link">
                                <span class="drawer__linkLabel">
                                  <input type="checkbox" id="gender_female" name="gender" onclick="generateFilteredData('gender', 'female')" value="female">
                                  {% trans 'Female' %}
                                </span>
                                <span class="drawer__linkIcon"></span>
                              </div>
                            </li>
                          </ul>
                        </li>
                        {% if styles %}
                          <li class="nested-lists__item">
                            <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                              <span class="drawer__linkLabel">
                                <strong>{% trans "Style" %}</strong>
                              </span>
                              <span class="drawer__linkIcon"></span>
                            </a>
                            <ul class="nested-lists__list drawer__list">
                              {% for style in styles %}
                                <li class="nested-lists__item">
                                  <div class="nested-lists__link drawer__link">
                                    <span class="drawer__linkLabel">
                                      <input type="checkbox" id="style_{{ style.id }}" name="style" onclick="generateFilteredData('style',{{ style.id }})" value="{{ style.id }}">
                                      {{ style }}
                                    </span>
                                    <span class="drawer__linkIcon"></span>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                        {% if locations %}
                          <li class="nested-lists__item">
                            <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                              <span class="drawer__linkLabel">
                                <strong>{% trans "Locations" %}</strong>
                              </span>
                              <span class="drawer__linkIcon"></span>
                            </a>
                            <ul class="nested-lists__list drawer__list">
                              {% for location in locations %}
                                <li class="nested-lists__item">
                                  <div class="nested-lists__link drawer__link">
                                    <span class="drawer__linkLabel">
                                      <input type="checkbox" id="location_{{ location.id }}" name="location" onclick="generateFilteredData('location',{{ location.id }})" value="{{ location.id }}">
                                      {{ location }}
                                    </span>
                                    <span class="drawer__linkIcon"></span>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                      </ul>
                  </div>
                  <div class="drawer__actions">
                    <a class="cta cta--dark cta--block">Apply Filters</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block grid_header_sortBy %}
    {% include "partials/grid_sort_by.html" %}
{% endblock %}

{% block grid_header_results %}
    {% include "partials/number_of_results.html" %} {# TODO : make it work with number of influencers #}
{% endblock %}

{% block content %}
    {% if influencers %}
        <ol class="grid__list">
            {% for influencer in influencers %}
                <li class="grid__item">
                  {% include "influencers/partials/influencer.html" %}
                </li>
            {% endfor %}
        </ol>
    {% else %}
      <div class="grid__emptyMessage">
        <p class="missing">{% trans "No Creators found." %}</p>
      </div>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    {# TODO : make pagination work with partial then remove this #}
    <!-- <div class="pagination">
        <span class="step-links">
            {% if influencers.has_previous %}
                <a href="?page={{ influencers.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ influencers.number }} of {{ influencers.paginator.num_pages }}.
            </span>

            {% if influencers.has_next %}
                <a href="?page={{ influencers.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div> -->
    <div class="grid__paginationContainer">
        {% include "partials/pagination.html" %}
    </div>
{% endblock %}


{% block extrascripts %}
    {# TODO : create js component #}
    <script>

        {# --------------------------------README-------------------------- #}

    {# Send data to the below api link, to get response and replace the div#}
    {# the keys are as follows:#}
    {# Gender : M=male#}
    {#        F=Female#}
    {# Style : id ( comma seperated values, in case of multiple )#}
    {# location : id ( comma seperated values, in case of multiple )#}

    {#     ZA - sort by a to z    #}
    {#     AZ - sort by z to a    #}
    {#     ASC - sort by date ascending    #}
    {#     DESC - sort by date descending    #}

        function generateFilteredData(filter_type,id) {
            alert("--------------");
            var query;

            if(filter_type=='gender'){
                query = "?gender="+id+'&location=&style=';
            }
            if(filter_type=='location'){
                query = "?location="+id+'&style=&gender=';
            }
            if(filter_type=='style'){
                query = "?style="+id+'&location=&gender=';
            }


            $.ajax({
    {#            url: "/influencers/influencers-filter/?gender=F&location=60&style=",#}
                url: "/api_v2/influencer_profile_listing/?gender=F",
    //            data: {
    //                'username': "hai",
    //                'date' : "date",
    //
    //            },
    //            dataType: 'json',
                success: function (data) {
                    $( "#influencer_list" ).replaceWith( data['html'] );

                }
            });
        };


    </script>
{% endblock %}














