{% extends "layout_2_col.html" %}

{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block body_class %}creators{% endblock %}

{% block before_layout %}
  {% trans "Our crea tors" as triptych_title %}
  {% include "influencers/partials/influencers_triptych.html" with triptych_title=triptych_title triptych_isBigTitle=True triptych_isWrapperThinner=True triptych_isContentDesktopOnly=True %}
{% endblock before_layout %}

{% block content_classnames %}color-context color-context--creators{% endblock %}

{% block layout_sidebar_extra_classnames %}u-desktop-only{% endblock %}

{% block column_left %}
    <div class="filters">
        <div class="filters__category">
          <h3 class="subtitle">{% trans "Gender" %}</h3>
          <ul class="filters__list">
              <li class="filters__item">
                <input class="checkbox checkbox--small" type="checkbox" id="filter1_gender_male" name="gender" onclick="applyFilters('filter1')" value="M"> <label for="filter1_gender_male">{% trans "Male" %}</label>
              </li>
              <li class="filters__item">
                <input class="checkbox checkbox--small" type="checkbox" id="filter1_gender_female" name="gender" onclick="applyFilters('filter1')" value="F"> <label for="filter1_gender_female">{% trans "Female" %}</label>
              </li>
          </ul>
        </div>

        <div class="filters__category">
          <h3 class="subtitle">{% trans "Style" %}</h3>
          <ul class="filters__list">
            {% for style in styles %}
              <li class="filters__item">
                <input class="checkbox checkbox--small" type="checkbox" id="filter1_style_{{ style.id }}" name="style" onclick="applyFilters('filter1')" value="{{ style.id }}"> <label for="filter1_style_{{ style.id }}">{{ style }}</label>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="filters__category">
          <h3 class="subtitle">{% trans "Location" %}</h3>
          <ul class="filters__list">
            {% for location in locations %}
              <li class="filters__item">
                <input class="checkbox checkbox--small" type="checkbox" id="filter1_location_{{ location.id }}" name="location" onclick="applyFilters('filter1')" value="{{ location.id }}"> <label for="filter1_location_{{ location.id }}">{{ location }}</label>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
{% endblock column_left %}

{% block grid_header_filters %}
  <a class="link link--thick u-mobile-only" href="#drawer-filters">{% trans 'Filters' %}</a>

  <div class="drawer drawer--right" id="drawer-filters">
      <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Filters' %}"></a>
      <div class="drawer__frame">
          <div class="drawer__header drawer__header--bar">
              <div class="drawer__headerContent">
                  <span class="title title--small">{% trans 'Filters' %}</span>
              </div>
              <a href="#close-drawer" class="drawer__close close" title="{% trans 'Close Filters' %}"></a>
          </div>
          <div class="drawer__scroller">
              <div class="drawer__content">
                  <div class="nested-lists">
                      <ul class="nested-lists__list drawer__list">
                        <li class="nested-lists__item">
                          <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                            <span class="drawer__linkLabel">
                              <strong>{% trans "Gender" %}</strong>
                            </span>
                            <span class="drawer__linkIcon"></span>
                          </a>
                          <ul class="nested-lists__list drawer__list">
                            <li class="nested-lists__item">
                              <div class="nested-lists__link drawer__link">
                                <span class="drawer__linkLabel">
                                  <input class="checkbox" type="checkbox" id="filter2_gender_male" name="gender" value="M"> <label for="filter2_gender_male">{% trans 'Male' %}</label>
                                </span>
                                <span class="drawer__linkIcon"></span>
                              </div>
                            </li>
                            <li class="nested-lists__item">
                              <div class="nested-lists__link drawer__link">
                                <span class="drawer__linkLabel">
                                  <input class="checkbox" type="checkbox" id="filter2_gender_female" name="gender" value="F"> <label for="filter2_gender_female">{% trans 'Female' %}</label>
                                </span>
                                <span class="drawer__linkIcon"></span>
                              </div>
                            </li>
                          </ul>
                        </li>
                        {% if styles %}
                          <li class="nested-lists__item">
                            <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                              <span class="drawer__linkLabel">
                                <strong>{% trans "Style" %}</strong>
                              </span>
                              <span class="drawer__linkIcon"></span>
                            </a>
                            <ul class="nested-lists__list drawer__list">
                              {% for style in styles %}
                                <li class="nested-lists__item">
                                  <div class="nested-lists__link drawer__link">
                                    <span class="drawer__linkLabel">
                                      <input class="checkbox" type="checkbox" id="filter2_style_{{ style.id }}" name="style" value="{{ style.id }}"> <label for="filter2_style_{{ style.id }}">{{ style }}</label>
                                    </span>
                                    <span class="drawer__linkIcon"></span>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                        {% if locations %}
                          <li class="nested-lists__item">
                            <a class="nested-lists__link drawer__link drawer__link--toggle" href="#">
                              <span class="drawer__linkLabel">
                                <strong>{% trans "Locations" %}</strong>
                              </span>
                              <span class="drawer__linkIcon"></span>
                            </a>
                            <ul class="nested-lists__list drawer__list">
                              {% for location in locations %}
                                <li class="nested-lists__item">
                                  <div class="nested-lists__link drawer__link">
                                    <span class="drawer__linkLabel">
                                      <input class="checkbox" type="checkbox" id="filter2_location_{{ location.id }}" name="location" value="{{ location.id }}"> <label for="filter2_location_{{ location.id }}">{{ location }}</label>
                                    </span>
                                    <span class="drawer__linkIcon"></span>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endif %}
                      </ul>
                  </div>
                  <div class="drawer__actions">
                    <a class="cta cta--dark cta--block" href="#close-drawer" onclick="applyFilters('filter2');">Apply Filters</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block grid_header_sortBy %}
    {% include "partials/grid_sort_by.html" %}
{% endblock %}

{% block grid_header_results %}
    {% include "partials/number_of_results.html" %} {# TODO : make it work with number of influencers #}
{% endblock %}

{% block content %}
    {% if influencers %}
        {% include "influencers/partials/influencers_gridList.html" %}
    {% else %}
      <div class="grid__emptyMessage">
        <p class="missing">{% trans "No Creators found." %}</p>
      </div>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    {# TODO : make pagination work with partial then remove this #}
    <!-- <div class="pagination">
        <span class="step-links">
            {% if influencers.has_previous %}
                <a href="?page={{ influencers.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ influencers.number }} of {{ influencers.paginator.num_pages }}.
            </span>

            {% if influencers.has_next %}
                <a href="?page={{ influencers.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div> -->
    <div class="grid__paginationContainer">
        {% include "partials/pagination.html" %}
    </div>
{% endblock %}


{% block extrascripts %}
  {# TODO : create js component #}
  <script>
    {# --------------------------------README-------------------------- #}

    {# Send data to the below api link, to get response and replace the div#}
    {# the keys are as follows:#}
    {# Gender : M=male#}
    {#        F=Female#}
    {# Style : id ( comma seperated values, in case of multiple )#}
    {# location : id ( comma seperated values, in case of multiple )#}

    {#     ZA - sort by a to z    #}
    {#     AZ - sort by z to a    #}
    {#     ASC - sort by date ascending    #}
    {#     DESC - sort by date descending    #}

    function applyFilters(filters_id) {
      // Get all checkboxes checked with id starting by 'filters_id'
      var $checkbox_check_arr = $('input[type=checkbox][id^="'+filters_id+'"]:checked');
      var query_obj = { gender:[], location:[], style:[] };
      var query_string = '';

      // Loop through checkboxes and add each value to the query object (in the good category)
      $checkbox_check_arr.each(function(i, checkbox) {
        var $checkbox = $(checkbox);
        var checkbox_id = $checkbox.attr('id');
        var checkbox_value = $checkbox.attr('value');
        Object.keys(query_obj).forEach(function(key) {
          if( checkbox_id.indexOf('_'+key+'_') > -1 ){
            query_obj[key].push(checkbox_value);
          }
        });
      });

      // Build the query string based on the query object
      Object.keys(query_obj).forEach(function(key, index) {
        query_string += (index > 0 ? '&' : '?') + key + '=' + query_obj[key].join(',');
      });

      // console.log('query_obj', query_obj);
      // console.log('query_string', query_string);
      alert('query_string : ' + query_string);

      getFilteredData(query_string);
    }

    function getFilteredData(query_string) {
      $.ajax({
        // url: "/influencers/influencers-filter/" + query_string,
        url: "/api_v2/influencer_profile_listing/" + query_string,
        success: function (data) {
          // $( "#influencer_list" ).replaceWith( data['html'] );
          console.log('getFilteredData', data);
        }
      });
    }
  </script>
{% endblock %}














