{% extends "layout_2_col.html" %}
{% load i18n %}
{% load product_tags %}

{% block body_class %}creator{% endblock %}

{% block before_layout %}
    <div class="container container--pad creator__overviewContainer">
        <div class="cols cols--m-gutter32 creator__overviewCols">
            <div class="col creator__overviewCol creator__overviewCol--visual">
                <figure class="creator__overviewVisualCols">
                    <div class="creator__overviewVisualCol creator__overviewVisualCol--left">
                        <div class="img-container img-container--portrait">
                            {% if influencer.users.image %}
                                <img src="{{ influencer.users.image.url }}" alt="{{ influencer }}">
                            {% endif %}
                        </div>
                    </div>
                    <figcaption class="creator__overviewVisualCol creator__overviewVisualCol--info u-mobile-only">
                        <p class="title">{{ influencer.users.first_name }} {{ influencer.users.last_name }}</p>
                        <p class="creator__location">{{ influencer.location.city }},{{ influencer.location.state }},{{ influencer.location.country }}</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col creator__overviewCol creator__overviewCol--info">
                <div class="creator__infoHeader u-desktop-only">
                    <h2 class="title">{{ influencer.users.first_name }} {{ influencer.users.last_name }}</h2>
                    <p class="creator__location">{{ influencer.location.city }},{{ influencer.location.state }},{{ influencer.location.country }}</p>
                </div>
                <div class="creator__infoContent">
                    <form class="creator__followForm">
                        <button class="cta cta--dark">{% trans "Follow creator" %}</button> {# TODO - add "follow influencer" functionality #}
                    </form>
                    <p class="creator__nbOfFollowers">X {% trans "followers" %}</p> {# TODO - make "number of followers" dynamic #}
                </div>
            </div>
        </div>
    </div>
{% endblock before_layout %}

{% block column_left %}
    <div class="grid__sidebarWidget">
        <ul>
            <li class="tag">Bohemian</li>
            <li class="tag">Contemporary</li>
            <li class="tag">Streetstyle</li>
            <li class="tag">Vintage</li>
        </ul>
        <div class="creator__bio">
            {{ influencer.bio }}
        </div>
    </div>

    <div class="grid__sidebarWidget">
        {% include "partials/share_menu.html" %}
    </div>
{% endblock column_left %}

{% block grid_header_sortBy %}
    {% include "partials/grid_sort_by.html" %}
{% endblock %}

{% block grid_header_results %}
    {# TODO - make number of results work #}
    {% include "partials/number_of_results.html" %}
{% endblock %}

{% block content_classnames %}color-context color-context--creator{% endblock %}

{% block content %}
    {% if products %}
        {% include "catalogue/partials/products_gridList.html" %}
    {% else %}
        <div class="grid__emptyMessage">
            <p class="missing">{% trans "No products for now." %}</p>
        </div>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    <div class="u-desktop-only">
      {% trans "More crea tors" as triptych_title %}
      {% include "influencers/partials/influencers_triptych.html" with triptych_title=triptych_title triptych_isBigTitle=True triptych_isWrapperThinner=True %}
    </div>
{% endblock after_layout %}