{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert alert-warning">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}

{% if not basket.is_empty %}
    {% block basket_form_main %}
        <form action="." method="post" class="basket_summary" id="basket_formset">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {% with line=form.instance product=form.instance.product %}
                    {% purchase_info_for_line request line as session %}
                    <div class="basket-item">
                        <div class="container">
                            <div class="basket-item__row">
                                <div class="basket-item__col basket-item__col--detail">

                                    {% with image=product.primary_image %}
                                        {% thumbnail image.original "160x160" upscale=False as thumb %}
                                            <a class="basket-item__visual u-block" href="{{ product.get_absolute_url }}">
                                                <div class="img-container img-container--square">
                                                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                                </div>
                                            </a>
                                        {% endthumbnail %}
                                    {% endwith %}
                                    <div class="basket-item__info">
                                        {{ form.id }}
                                        <p class="basket-item__name">{{ product.get_title }}</p>
                                        <p class="basket-item__upc">#UPC {# {{ product.upc }} #}</p>{# TODO - populate product.upc #}
                                        <p class="basket-item__size">Size: *</p>{# TODO - add product size #}
                                        <p class="basket-item__brand"><a href="#">{{ product.get_brand }}</a></p>{# TODO - add product brand link #}
                                    </div>
                                </div>
                                <div class="basket-item__col u-desktop-only">
                                    {% include "basket/partials/basket_item_delete.html" %}
                                </div>
                                <div class="basket-item__col u-desktop-only">
                                    {% include "basket/partials/basket_item_quantity.html" %}
                                </div>
                                <div class="basket-item__col u-desktop-only">
                                    {% include "basket/partials/basket_item_price.html" %}
                                </div>
                            </div>
                            <div class="basket-item__row u-mobile-only">
                                <div class="basket-item__col">
                                    {% include "basket/partials/basket_item_quantity.html" %}
                                    {% include "basket/partials/basket_item_price.html" %}
                                </div>
                                <div class="basket-item__col">
                                    {% include "basket/partials/basket_item_delete.html" %}
                                </div>
                            </div>
                            <div style="display: none;">
                                {% render_field form.quantity class+="form-control basket-item__quantityInput" %}
                                <button class="basket-item__quantitySubmit" type="submit" data-loading-text="{% trans 'Updating...' %}">{% trans "Update" %}</button>
                                <!-- <div>
                                    {% for field_errors in form.errors.values %}
                                        {% for error in field_errors %}
                                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                        {% endfor %}

                                    {% endfor %}
                                </div> -->
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </form>
    {% endblock %}

    <div class="basket__footer">
        <div class="basket__footerRow">
            <div class="basket__footerCol basket__footerCol--left">
                <div class="basket__footerColContent">
                    <div class="basket__couponFormContainer">
                        {% if voucher_form %}
                            <form id="voucher_form" class="coupon-form" action="{% url 'basket:vouchers-add' %}" method="post">
                                {% csrf_token %}
                                {% include "partials/form_fields.html" with form=voucher_form %}
                                <button type="submit" class="cta cta--small cta--dark coupon-form__submit">{% trans "Go" %}</button>
                            </form>
                        {% endif %}
                    </div>
                    <p class="basket__footerAsterix note">{% trans "*Shipping & taxes calculated at checkout" %}</p>
                </div>
            </div>
            <div class="basket__footerCol basket__footerCol--right">
                <div class="basket__footerColContent">
                    <p class="basket__totalLabel">{% trans 'Total' %}</p>
                    <p class="basket__total subtitle">
                        {% if not show_tax_separately and basket.is_tax_known %}
                            {{ basket.total_incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ basket.total_excl_tax|currency:basket.currency }}
                        {% endif %}
                    </p>
                    <p class="basket__totalAction">
                        <a href="{% url 'checkout:index' %}" class="cta cta--light cta--block ">{% trans "Validate my shopping bag" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% block emptybasket %}
        <div class="basket__empty">
            <div class="container">
                <p class="missing">
                    {% trans "Your bag is currently empty." %}
                </p>
            </div>
        </div>
    {% endblock %}
{% endif %}
