.basket {
  
}

.basket__header {
  padding: 42px 0
  border-bottom: 1px solid $color_lightGrey
  
  @media $mq_m {
    padding: 96px 0 48px
  }
}

.basket__empty {
  padding: 32px 0
  
  @media $mq_m {
    padding: 42px 0
  }
}