input[type=checkbox].checkbox {
  
  display: none
  
  & + label {
    cursor: pointer
  }

  & + label::before {
    content: ''
    display: inline-block
    width: size = 20px
    height: size
    border: 2px solid #fff
    vertical-align middle
    margin: 8px 16px 8px 0
    box-shadow: 0 0 0 1px $color_formInput
  }
  
  &[checked=checked] + label::before,
  &:checked + label::before {
    background-color $color_darkGrey
  }
  
  &--small {
    & + label::before {
      width: size = 14px
      height: size
      margin: 5px 10px 5px 0
    }
  }
}