.cols {
  display: flex
  flex-direction: row
  justify-content: space-between

  &--align-center {
    justify-content: center
  }

  &--align-left {
    justify-content: flex-start
  }

  &--align-right {
    justify-content: flex-end
  }

  &--align-middle {
    align-items: center
  }

  &--align-top {
    align-items: flex-start
  }

  &--align-bottom {
    align-items: flex-end
  }
}