.cta {
  display inline-block
  padding: 18px 32px 
  text-decoration: none
  cursor: pointer
  user-select: none
  white-space: nowrap
  font-size: font_size = 14px
  line-height font_size
  border: 2px solid $color_darkGrey
  color: $color_darkGrey
  
  &:hover {
    text-decoration: none
    color: $color_darkGrey
  }
  
  &--dark {
    color: #fff
    background-color: $color_darkGrey
    border-color: $color_darkGrey
    
    &:hover {
      color: #fff
    }
  }
}