grid_borderStyle = 1px solid $color_lightGrey
grid_sidebarSize = 254px

.grid {
  border-top: grid_borderStyle
  border-bottom: grid_borderStyle
  
  @media $mq_m {
    display: flex
    flex-direction: row
  }
  
  &:first-child {
    @media $mq_m {
      border-right: grid_borderStyle
    }
  }
  
  &--borderLess {
    border: 0 none
  }
  &--borderTopLess {
    border-top: 0 none
  }
  &--borderBottomLess {
    border-bottom: 0 none
  }
}

.grid__banner {
  border-bottom: 1px solid $color_lightGrey
  padding: 24px
  
  @media $mq_s_only {
    border-bottom: 0
  }
  
  @media $mq_m {
    padding: 24px 32px
  }
  
  &:empty {
    display: none
  }
}

.grid__header {
  border-bottom: 1px solid $color_lightGrey
  
  @media $mq_m {
    min-height: 96px
    padding: 32px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
  }
}

.grid__headerTitle {
  @media $mq_s_only {
    padding: 32px 24px
  }
  
  &:empty {
    @media $mq_s_only {
      display: none
    }
  }
}

.grid__headerNav {
  display: flex
  flex-direction: row
  align-items: center
  
  @media $mq_s_only {
    min-height: 85px
    padding: 16px 24px
    border-top: 1px solid $color_lightGrey
    justify-content: space-between
  }
}

.grid__headerNavGroup {
  display: flex
  flex-direction: row
  align-items: center
  
  & > * + * { // all children except first one
    margin-left:  16px
    @media $mq_l {
      margin-left:  32px
    }
  }
}

.grid__main {
  position relative
  
  @media $mq_m {
    width: "calc(100% - %s)" % grid_sidebarSize
    border-left: grid_borderStyle
  }
  
  .grid--inverted & {
    @media $mq_m {
      border-right: grid_borderStyle
      border-left: 0 none
    }
  }
}

.grid__sidebar {
  @media $mq_s_only {
    border-top: grid_borderStyle
    margin-top: -1px // hack - prevent double border if grid has border has well
  }
  @media $mq_m {
    padding: 24px 32px
    width: grid_sidebarSize
  }
}

.grid__sidebarWidget {
  @media $mq_s_only {
    padding: 24px  
  }
  
  & + .grid__sidebarWidget {
    @media $mq_s_only {
      border-top: 1px solid $color_lightGrey
    }
    @media $mq_m {
      margin-top 96px
    }
  }
}

.grid__content {
}

.grid__list {
  display: flex
  flex-direction: row
  flex-wrap: wrap

  margin-bottom: -1px // hack - prevent last items border bottom to be visible
  overflow: hidden
}

.grid__item {
  border_style = 1px solid $color_lightGrey
    
  width: 50%
  border-bottom: border_style
  &:nth-child(2n + 1) {
    border-right: border_style
  }
  
  @media $mq_l {
    width: calc(100% / 3)
    &:nth-child(2n + 1) {
      border-right: 0
    }
    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      border-right: border_style
    }
  }
  
  @media $mq_xxl {
    width: 25%
    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      border-right: 0
    }
    &:nth-child(4n + 1),
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      border-right: border_style
    }
  }
}

.grid__itemInner {
  padding: 16px 16px 18px
  
  @media $mq_m {
    padding: 32px 32px 24px
  }
}

.grid__itemAction {
  margin-top: 20px
  
  @media $mq_s_only {
    display: block
  }
  
  @media $mq_m {
    margin-top: 24px
  }
}

.grid__emptyMessage {
  padding: 48px 24px
  
  @media $mq_m {
    padding: 96px 32px  
  }
}

.grid__paginationContainer {
  min-height: 128px
  padding: 48px 24px
}

