.header {
  z-index: 10
  position: relative
}

.header__bar {
  position: relative
  height: 79px
  padding: 0 20px
  background: #fff
  border-bottom: 1px solid #979797
}

.header__nav {
  
}

.header__navList {
  li + li {
    @media $mq_m {
      margin-left: 24px
    }
    @media $mq_l {
      margin-left: 32px
    }
    @media $mq_xl {
      margin-left: 48px
    }
  }
  
  .header__nav--primary & {
    margin-left: 30px
    font-family $font_bold
  }
}

.header__searchBtn {
  margin-left: -10px
}