.register-push {
  background-color: #F5E5D9
  
  @media $mq_m {
    display: flex
    align-items: stretch
    flex-direction: column
    justify-content: space-between
  }
}

.register-push__actions { // TODO : use form__title instead ?
  margin-top: 42px
  
  @media $mq_m {
    margin-top: 48px
  }
}