.textual {
  margin: 42px 24px 96px
  
  @media $mq_m {
    max-width: 736px
    margin: 0 32px 96px 
  }
  
  .title {
    margin: 48px 0 30px
  }
  .subtitle {
    margin: 20px 0
  }
  p {
    margin: 20px 0
  }
}

.textual__section {
  & + .textual__section {
    margin-top: 72px
  }
}