.title {
  font-family: $font_display
  line-height: 1em
  font-size: 36px
  
  @media $mq_m {
    font-size: 64px  
  }
  
  &--oneWordPerLine {
    word-spacing: 9999rem
  }
  
  &--caps {
    text-transform: uppercase
  }
  
  &--headline {
    font-size: 128px
    text-transform: uppercase
  }
  
  &--internal {
    font-size: 48px
  }
  
  &--small {
    font-size: 24px
  }
}