* {
  box-sizing: border-box
}

body {
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family $font_regular
  font-size 14px
  line-height 20px 
}

.mobile-only {
  @media $mq_m {
    display none !important
  }
}

.desktop-only {
  @media $mq_s_only {
    display none !important
  }
}