{% load staticfiles %}
{% load i18n %}
{% load custom_tags %}

<!-- TODO // dynamic content -->
<article class="review">
    <div class="container container--pad">
        <div class="cols cols--m-2 cols--m-gutter32">
            <div class="col">
                {# TODO : redirect to creator's page #}
                <a class="u-block" href="{% url 'ucc_detail' id=influencer.id %}">
                    <figure>
                        <div class="img-container img-container--landscape">
                            {% if influencer.users.image %}
                                    <img src="{{ influencer.users.image.url }}">
                                {% else %}
                                <img src="">
                                {% endif %}
                        </div>
                        <figcaption>
                            <p>{{ influencer.users.first_name }} {{ influencer.users.last_name }}</p>
                            <p><small>{{ influencer.location.city }}, {{ influencer.location.state }}, {{ influencer.location.country }} </small></p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col">
                <div class="review__content">
                    <h2 class="subtitle">{% trans 'Product Review' %}</h2>
                    <div class="desc">
                         {{ product.influencer_product_note }}
                    </div>
                    <div class="sizechart">
                        <ul class="sizechart__list">
                            <li class="sizechart__item">{% trans 'Height' %}: <span data-sizechart-unit="cm">{{ influencer.height }} cm</span>
                                {% get_inch_value influencer.height as height_value %}
                                <span data-sizechart-unit="inch">{{ height_value }}"</span></li>
                            <li class="sizechart__item">{% trans 'Hips' %}: <span data-sizechart-unit="cm">{{ influencer.hips }} cm</span>
                                {% get_inch_value influencer.hips as hips_value %}
                                <span data-sizechart-unit="inch">{{ hips_value }}"</span></li>
                            <li class="sizechart__item">{% trans 'Chest' %}: <span data-sizechart-unit="cm">{{ influencer.chest_or_bust }} cm</span>
                                {% get_inch_value influencer.chest_or_bust as chest_value %}
                                <span data-sizechart-unit="inch">{{ chest_value }}"</span></li>
                            <li class="sizechart__item">{% trans 'Waist' %}: <span data-sizechart-unit="cm">{{ influencer.waist }} cm</span>
                                {% get_inch_value influencer.waist as waist_value %}
                                <span data-sizechart-unit="inch">{{ waist_value }}"</span></li>
                            {# TODO : KEEP THIS CODE, the functionality will be added later on #}
                            <!-- 
                            {# {{ influencer.weight }} #}
                            <li class="sizechart__item">{% trans 'Weight' %}: <span data-sizechart-unit="kg">52 kg</span> <span data-sizechart-unit="lb">114 lb</span></li>
                            {# {{ influencer.age }} #}
                            <li class="sizechart__item">{% trans 'Age' %}: 23 yo</li>
                            -->
                        </ul>
                        <div class="sizechart__toggles">
                            <div class="toggle">
                                <a href="#" class="toggle__label toggle__label--left" data-toggle-value="cm">{% trans 'Centimeters' %}</a>
                                <a href="#" class="toggle__slider" data-toggle-values="cm,inch"></a>
                                <a href="#" class="toggle__label toggle__label--right" data-toggle-value="inch">{% trans 'Inches' %}</a>
                            </div>
                            {# TODO : KEEP THIS CODE, the functionality will be added later on #}
                            <!-- 
                            <div class="toggle">
                                <a href="#" class="toggle__label toggle__label--left" data-toggle-value="kg">{% trans 'Kilograms' %}</a>
                                <a href="#" class="toggle__slider" data-toggle-values="kg,lb"></a>
                                <a href="#" class="toggle__label toggle__label--right" data-toggle-value="lb">{% trans 'Pounds' %}</a>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>