{% load staticfiles %}
{% load i18n %}

<!-- TODO // dynamic content -->
<article class="influencer-review">
    <div class="container">
        <div class="influencer-review__cols">
            <div class="influencer-review__col">
                <figure>
                    <img src="{% static 'unlabel/dist/img/temp/influencer-review-visual.jpg' %}" alt="">
                    <figcaption>
                        <p>Unisex Bomber</p>
                        <p><small>$345.00</small></p>
                    </figcaption>
                </figure>
            </div>
            <div class="influencer-review__col">
                <div class="influencer-review__content">
                    <p class="subtitle">{% trans 'Product Review' %}</p>
                    <div class="desc">
                        Milo is a streamlined wool bomber, evolved from a softly structured silhouette with minimal, elevated street details. Milo features an in-seam kangaroo pocket, hidden wind placket, and fitted rib knit accents for optimized utility and comfort.
                    </div>
                    <div class="sizechart">
                        <ul class="sizechart__list">
                            <li class="sizechart__item">{% trans 'Height' %}: <span data-sizechart-unit="cm">167</span> <span data-sizechart-unit="inch">65</span></li>
                            <li class="sizechart__item">{% trans 'Hips' %}: <span data-sizechart-unit="cm">91</span> <span data-sizechart-unit="inch">35</span></li>
                            <li class="sizechart__item">{% trans 'Chest' %}: <span data-sizechart-unit="cm">88</span> <span data-sizechart-unit="inch">34</span></li>
                            <li class="sizechart__item">{% trans 'Waist' %}: <span data-sizechart-unit="cm">66</span> <span data-sizechart-unit="inch">25</span></li>
                        </ul>
                        <div class="toggle">
                            <a href="#" class="toggle__label toggle__label--left" data-toggle-value="cm">{% trans 'Centimeters' %}</a>
                            <a href="#" class="toggle__slider" data-toggle-values="cm,inch"></a>
                            <a href="#" class="toggle__label toggle__label--right" data-toggle-value="inch">{% trans 'Inches' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>