{% extends "partials/triptych.html" %}
{% load staticfiles %}

{% block triptych_extraClasses %}color-context color-context--brands{% endblock %}

{# TODO : dynamic content #}
{% block triptych_content %}
	<ul class="cols cols--m-3">
		<li class="col">
			<a href="#" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--portrait">
                        {% if promoted_brands.0.image %}
                            <img src="{{ promoted_brands.0.image.url }}" alt="">
                        {% else %}
                            <img src="" alt="">
                        {% endif %}
					</div>
					<figcaption>
						<p>{{ promoted_brands.0.name }}</p>
						<p><small>{{ promoted_brands.0.location }}</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="#" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--portrait">
						{% if promoted_brands.1.image %}
                            <img src="{{ promoted_brands.1.image.url }}" alt="">
                        {% else %}
                            <img src="" alt="">
                        {% endif %}
					</div>
					<figcaption>
						<p>{{ promoted_brands.1.name }}</p>
						<p><small>{{ promoted_brands.1.location }}</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="#" class="triptych__itemLink">
				<figure>
					<div class="img-container img-container--portrait">
						{% if promoted_brands.2.image %}
                            <img src="{{ promoted_brands.2.image.url }}" alt="">
                        {% else %}
                            <img src="" alt="">
                        {% endif %}
					</div>
					<figcaption>
						<p>{{ promoted_brands.2.name }}</p>
						<p><small>{{ promoted_brands.2.location }}</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
	</ul>
{% endblock %}

{% block triptych_nav %}{# No nav #}{% endblock %}