{% extends "partials/triptych.html" %}
{% load staticfiles %}

{% block triptych_extraClasses %}color-context color-context--brands{% endblock %}

{# TODO : dynamic content #}
{% block triptych_content %}
	<ul class="cols cols--m-3">
		<li class="col">
			<a href="#" class="triptych__itemLink">
				<figure>
					<div class="img-container">
						<img src="{% static 'unlabel/dist/img/temp/more-brand-1.jpg' %}" alt="">
					</div>
					<figcaption>
						<p>Kai D. Utility</p>
						<p><small>New York City, USA</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="#" class="triptych__itemLink">
				<figure>
					<div class="img-container">
						<img src="{% static 'unlabel/dist/img/temp/more-brand-2.jpg' %}" alt="">
					</div>
					<figcaption>
						<p>Namesake</p>
						<p><small>New York City, USA</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
		<li class="col">
			<a href="#" class="triptych__itemLink">
				<figure>
					<div class="img-container">
						<img src="{% static 'unlabel/dist/img/temp/more-brand-3.jpg' %}" alt="">
					</div>
					<figcaption>
						<p>The Arrivals</p>
						<p><small>New York City, USA</small></p>
					</figcaption>
				</figure>
			</a>
		</li>
	</ul>
{% endblock %}

{% block triptych_nav %}{# No nav #}{% endblock %}