input[type=text],
input[type=email],
input[type=password] {
  appearence: none
  border-radius: 0
  background-color: #fff
  border: 1px solid #ccc
  padding: 12px
  line-height: 20px
  font-size: 14px
  width: 100%
}