{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block body_class %}checkout{% endblock %}

{% block content %}

{% include "catalogue/partials/shipping_info.html" %}
{% include "catalogue/partials/returns_policy.html" %}

<form action="{% url 'checkout:checkout-process' %}" method="post" id="new_shipping_address" class="form form--stacked">
    {% csrf_token %}

    <div class="container">
        <header class="checkout__header">
            <div class="checkout__headerGroup">
                <h1 class="title title--small">{% trans "Checkout" %}</h1>
            </div>
            <div class="checkout__headerGroup">
                <nav class="checkout__headerNav">
                    <ul class="checkout__headerNavList">
                        <li class="checkout__headerNavListItem">
                            <a class="link" href="#shipping-drawer">{% trans 'Shipping Info' %}</a>
                        </li>
                        <li class="checkout__headerNavListItem">
                            <a class="link" href="#returns-drawer">{% trans 'Returns Policy' %}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    
    <hr>
    
    <div class="checkout__addressSection">
        <div class="container">
            <h2 class="title title--small">{% trans "Shipping address" %}</h2>
        </div>

        <div class="checkout__addressForm">
            <div class="container container--medium">
                {% include "partials/form_fields.html" with form=shipping_address_form style='stacked' %}
            </div>
        </div>
    </div>
    <hr>
    <div class="checkout__addressSection">
        <div class="container">
            <h2 class="title title--small">{% trans "Billing address" %}</h2>

            <div class="checkout__addressIdenticalCheckbox">
                <!--TODO-->
                <!--use the context variable to check/uncheck the use above shipping method option-->
                <input class="checkbox checkbox--small" type="checkbox" id="use_shipping"/> <label for="use_shipping">{% trans "Use shipping address as invoicing address" %}</label>
            </div>
        </div>

        <div class="checkout__addressForm">
            <div class="container container--medium">
                {% include "partials/form_fields.html" with form=invoice_address_form style='stacked' %}
            </div>
        </div>
    </div>
    <hr>

    <div class="checkout__paymentNav">
        <div class="container checkout__paymentNavWrapper">
            <div class="checkout__paymentNavGroup">
                <h2 class="title title--small">{% trans "Payment method" %}</h2>
            </div>
            <div class="checkout__paymentNavGroup">
                <ul class="checkout__paymentOptionsList">
                    <li class="checkout__paymentOptionsListItem">
                        <input class="radio" id="payment_option1" type="radio" name="payment_option" value="bankcard"> <label for="payment_option1">{% trans "Credit card" %}<ul class="checkout__bankcardList"><li class="checkout__bankcardListItem"><span class="checkout__bankcardLogo checkout__bankcardLogo--visa"></span></li><li class="checkout__bankcardListItem"><span class="checkout__bankcardLogo checkout__bankcardLogo--mastercard"></span></li><li class="checkout__bankcardListItem"><span class="checkout__bankcardLogo checkout__bankcardLogo--american-express"></span></li></ul></label>
                    </li>
                    <li class="checkout__paymentOptionsListItem">
                        <input class="radio" id="payment_option2" type="radio" name="payment_option" value="bankcard"> <label for="payment_option2">{% trans "PayPal" %}</label>
                    </li>
                </ul>
            </div>
            <div class="checkout__paymentNavGroup">
                {# empty - defined for styling purposes #}
            </div>
        </div>
    </div>

    <div class="container container--medium">
        {% include "partials/form_fields.html" with form=bankcard_form style='stacked' %}
    </div>


    <div class="checkout__footer">
        <button type="submit" class="cta cta--dark">{% trans "Confirm my order" %}</button>
    </div>
</form>

{% endblock content %}
