{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}



{% block content %}
    <div class="order-confirmation">
        <div class="container container--medium container--pad">
            <div class="order-confirmation__contentGroup">
                <p class="title title--small">{% trans "Congrats!" %}</p>
            </div>
            <div class="order-confirmation__successMessage">
                <h1 class="u-bold">
                    {% blocktrans with number=order.number %}
                        Your order N°{{ number }} has been accepted.
                    {% endblocktrans %}
                </h1>
            </div>
            <div class="order-confirmation__instructions">
                <p>{% trans "A confirmation email has been sent" %}</p>
                <p>{% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}</p>
            </div>
            <div class="order-confirmation__actions">
                <a class="cta" href="{% url 'customer:order-list' %}">{% trans "Back to my account" %}</a><a class="cta cta--dark" href="{% url 'catalogue:index' %}">{% trans "Continue shopping" %}</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
