{% extends 'dashboard/layout.html' %}
{% load sorting_tags %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page brand sub category{% endblock %}
{% block title %}
    {{ sub_category.name }} | {% trans "Brand Specializations" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:brand-sub-category-list' %}">{% trans "Brand Specialization" %}</a>
        </li>
        <li class="active">{{ sub_category.name }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ sub_category.name }}{% endblock %}

{% block dashboard_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="table-header">
                <h2>{{ title }}</h2>
            </div>
            {% include "dashboard/partials/form.html" with form=form class="well" %}
        </div>
    </div>

{% endblock dashboard_content %}
