{% load i18n %}
{% load staticfiles %}

<!-- TODO : add all dynamic links -->
<footer class="footer">
    <div class="footer__bar footer__bar--top">
        <nav class="footer__nav footer__nav--primary">
            <a class="footer__home" href="{{ homepage_url }}" title="{% trans 'Home' %}">
                <div class="logo">
                    <span class="logo__label">{% block brand_title %}{{ shop_name }} <small>{{ shop_tagline }}</small>{% endblock %}</span>
                    <span class="logo__icon">
                        <img src="{% static 'unlabel/dist/img/logo_light.svg' %}" alt="Unlabel Logo">
                    </span>
                </div>
            </a>
            <ul class="footer__navList">
                <li>
                    <a class="link link--thick link--discrete" href="{% url 'about-us' %}" title="{% trans 'About us' %}">{% trans 'About us' %}</a>
                </li>
                <li>
                    <a class="link link--thick link--discrete" href="/partners/partner-sign-up/223A9BAE4F/" title="{% trans 'For brands' %}">{% trans 'For brands' %}</a>
                </li>
                <li>
                    <a class="link link--thick link--discrete" href="/influencers/influencer-sign-up/2972ACE04F/" title="{% trans 'For Creators' %}">{% trans 'For Creators' %}</a>
                </li>
                <li>
                    <a class="link link--thick link--discrete" href="{% url 'faqs' %}" title="{% trans 'FAQ' %}">{% trans 'FAQ' %}</a>
                </li>
                <li>
                    <a class="link link--thick link--discrete" href="{% url 'contact-us' %}" title="{% trans 'Contact us' %}">{% trans 'Contact us' %}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer__bar footer__bar--bottom cols cols--align-middle">
        <div class="footer__copyright"><span class="footer__copyrightSymbol">©</span> {% trans '2017 Unlabel. All rights reserved' %}</div>
        <nav class="footer__nav footer__nav--secondary">
            <ul class="footer__navList footer__navList--legal">
                <li>
                    <a href="{% url 'terms-and-conditions' %}" title="{% trans 'Terms' %}">{% trans 'Terms' %}</a>
                </li>
                <li>
                    <a href="" title="{% trans 'Privacy' %}">{% trans 'Privacy' %}</a>
                </li>
            </ul>
            <ul class="footer__navList footer__navList--social">
                <li>
                    <a href="" title="{% trans 'Share on Facebook' %}"><span class="fonticon fonticon--facebook fonticon--smallBox"></span></a>
                </li>
                <li>
                    <a href="" title="{% trans 'Share on Instagram' %}"><span class="fonticon fonticon--instagram fonticon--smallBox"></span></a>
                </li>
                <li>
                    <a href="" title="{% trans 'Share on Pinterest' %}"><span class="fonticon fonticon--pinterest fonticon--smallBox"></span></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>