{% load i18n %}
{% load staticfiles %}

<header class="header">
    <div id="header-submenu-overlay" class="header__overlay"></div>
    <div class="header__bar cols cols--align-middle">
        <nav class="header__nav header__nav--primary nav--inline">
            <a href="{{ homepage_url }}" title="{% trans 'Home' %}">
                <div class="logo">
                    <span class="logo__label">{% block brand_title %}{{ shop_name }} <small>{{ shop_tagline }}</small>{% endblock %}</span>
                    <span class="logo__icon">
                        <img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
                    </span>
                </div>
            </a>
            <!-- TODO : add dynamic links -->
            <ul class="header__navList nav__list u-desktop-only">
                <li class="header__navListItem">
                    <a class="link link--discrete" href="{% url 'catalogue:index' %}" title="{% trans 'Women' %}">{% trans 'Women' %}</a>
                </li>
                <li class="header__navListItem">
                    <a class="link link--discrete" href="{% url 'catalogue:index' %}" title="{% trans 'Men' %}">{% trans 'Men' %}</a>
                </li>
                <li class="header__navListItem">
                    <a class="link link--discrete" href="{% url 'brand-list' %}" title="{% trans 'Our brands' %}">{% trans 'Our brands' %}</a>
                </li>
                <li class="header__navListItem">
                    <a class="link link--discrete" href="{% url 'influencers' %}" title="{% trans 'Our creators' %}">{% trans 'Our creators' %}</a>
                </li>
            </ul>
        </nav>
        <nav class="header__nav header__nav--secondary nav--inline">
            <ul class="header__navList nav__list">
                <li class="header__navListItem header_submenuToggler">
                    {% if user.is_authenticated %}
                        <a class="header__linkWithNotif header_linkWithSubmenu" href="{% if num_unread_notifications > 0 %}{% url 'customer:notifications-inbox' %}{% else %}{% url 'customer:profile-update' %}{% endif %}" title="{% trans 'My Account' %}">
                            <span class="u-desktop-only">{% trans "My Account" %}</span>
                            <span class="fonticon fonticon--profile fonticon--box u-mobile-only"></span>
                            {% if num_unread_notifications > 0 %}
                                <span class="notif">{{ num_unread_notifications }}</span>
                            {% endif %}
                        </a>
                        <div class="header__submenu">
                            <div class="header__submenuWrapper">
                                {% include 'partials/header_submenu_account.html' %}
                            </div>
                        </div>
                    {% else %}
                        <a class="header__linkWithNotif header_linkWithSubmenu" href="{% url 'customer:login' %}" title="{% trans 'My Account' %}">
                            <span class="u-desktop-only">{% trans "My Account" %}</span>
                            <span class="fonticon fonticon--profile fonticon--box u-mobile-only"></span>
                        </a>
                        <div class="header__submenu">
                            <div class="header__submenuWrapper">
                                {% include "partials/connect_form.html" with style='mini' %}
                            </div>
                        </div>
                    {% endif %}
                </li>
                <li class="header__navListItem header_submenuToggler">
                    <a class="header__linkWithNotif header_linkWithSubmenu" href="{% url 'basket:summary' %}" title="{% trans 'Shopping Bag' %}">
                        <span class="u-desktop-only">{% trans 'Shopping Bag' %}</span>
                        <span class="fonticon fonticon--shoppingBag fonticon--box u-mobile-only"></span>
                        {% if request.basket.num_lines %}
                            <span class="notif">{{ request.basket.num_lines }}</span>
                        {% endif %}
                    </a>
                    <div class="header__submenu">
                        <div class="header__submenuWrapper">
                            basket menu
                        </div>
                    </div>
                </li>
                <li class="header__navListItem">
                    <a class="header__searchBtn" href="#search-drawer" title="{% trans 'Search' %}"><span class="fonticon fonticon--magnifyingglass fonticon--box"></span></a>
                </li>
            </ul>
            <a class="burgerMenu u-mobile-only" href="#mobile-main-nav" title="{% trans 'Toggle Menu' %}">
                <span class="burgerMenu__bar burgerMenu__bar--top"></span>
                <span class="burgerMenu__bar burgerMenu__bar--middle"></span>
                <span class="burgerMenu__bar burgerMenu__bar--bottom"></span>
            </a>
        </nav>
        <div class="drawer drawer--right" id="mobile-main-nav">
            <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Menu' %}"></a>
            <div class="drawer__frame">
                <div class="drawer__header drawer__header--bar">
                    <div class="drawer__headerContent"></div>
                    <a href="#close-drawer" class="drawer__close close" title="{% trans 'Close Menu' %}"></a>
                </div>
                <div class="drawer__scroller">
                    <div class="drawer__content">
                        <!-- TODO : add dynamic links -->
                        <ul class="drawer__list">
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="{% url 'catalogue:index' %}" title="{% trans 'Women' %}">
                                    <span class="drawer__linkLabel">{% trans 'Women' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="{% url 'catalogue:index' %}" title="{% trans 'Men' %}">
                                    <span class="drawer__linkLabel">{% trans 'Men' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="{% url 'brand-list' %}" title="{% trans 'Our brands' %}">
                                    <span class="drawer__linkLabel">{% trans 'Our brands' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="{% url 'influencers' %}" title="{% trans 'Our creators' %}">
                                    <span class="drawer__linkLabel">{% trans 'Our creators' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="drawer__footer">
                        <div class="drawer__branding">
                            <a href="{{ homepage_url }}" title="{% trans 'Home' %}">
                                <div class="logo">
                                    <span class="logo__label">{{ shop_name }}</span>
                                    <span class="logo__icon">
                                        <img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-drawer drawer drawer--top drawer--dark" id="search-drawer">
            <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Search' %}"></a>
            <div class="drawer__frame">
                <div class="drawer__header">
                    <div class="drawer__headerContent"></div>
                    <a href="#close-drawer" class="drawer__close close close--medium" title="{% trans 'Close Search' %}"></a>
                </div>
                <div class="drawer__scroller">
                    <div class="drawer__content">
                        <div class="search-drawer__contentWrapper">
                            <div class="container">
                                {% include "partials/search.html" with theme="dark" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>