{% load i18n %}

<header class="header">
    <div class="header__bar cols cols--align-middle">
        <nav class="nav--inline">
            <a href="" title="Home">Home <span class="fonticon fonticon--logo"></a>
            <ul class="nav--inline u-desktop-only">
                <li>
                    <a href="" title="Women">Women</a>
                </li>
                <li>
                    <a href="" title="Women">Men</a>
                </li>
                <li>
                    <a href="" title="Our brands">Our brands</a>
                </li>
                <li>
                    <a href="" title="Our creators">Our creators</a>
                </li>
            </ul>
        </nav>
        <nav class="nav--inline">
            <ul class="nav--inline">
                <li>
                    <a href="" title="My Account"><span class="u-desktop-only">My Account</span><span class="fonticon fonticon--account u-mobile-only"></span></a>
                </li>
                <li>
                    <a href="" title="Shopping Bag"><span class="u-desktop-only">Shopping Bag</span><span class="fonticon fonticon--cart u-mobile-only"></span></a>
                </li>
                <li>
                    <a href="" title="Search"><span class="fonticon fonticon--magnifyingglass"></span></a>
                </li>
            </ul>
            <a class="u-mobile-only" href="" title="Menu">Menu <span class="burgerMenu"></span></a>
        </nav>
    </div>
</header>

<div id="top_page" class="navbar navbar-default navbar-static-top accounts">
    {# This is used in mobile view #}
    <div class="navbar-header">
        <a class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".account-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>

    <div class="navbar-collapse account-collapse collapse">
        <div class="container-fluid">
            {% if LANGUAGES|length > 1 %}
                <form id="language_selector" class="navbar-left navbar-form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
                    <div class="form-group">
                        <select name="language" class="form-control">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE%} selected="selected"{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-default" type="submit" data-loading-text="{% trans 'Submitting...' %}">{% trans "Go" %}</button>
                </form>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-user"></i>
                                {% trans "Account" %}
                                <span class="label label-important">{{ num_unread_notifications }}</span>
                            </a>
                        {% else %}
{#                            {% if not user.is_brand  %}#}
{#                                {% if not user.is_superuser  %}#}
                                    <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
{#                                {% endif %}#}
{#                            {% endif %}#}
                        {% endif %}
                    </li>
                    {% if user.is_staff or perms.partner.dashboard_access %}
                        <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                    {% endif %}
                    <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                {% else %}
                    <li><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin"></i> {% trans "Login" %}</a></li>
                    <li><a id="registration_link" href="{% url 'customer:register' %}"><i class="icon-signin"></i> {% trans "Register" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
