{% load i18n %}

<div class="share">
	<p class="share__title">{% trans 'Share' %}</p>
	<ul class="share__list">
		<li class="share__item">
		    <a href="" title="{% trans 'Share by Email' %}"><span class="fonticon fonticon--email fonticon--box fonticon--small"></span></a>
		</li><li class="share__item">
		    <a href="" title="{% trans 'Share on Facebook' %}"><span class="fonticon fonticon--facebook fonticon--box fonticon--small"></span></a>
		</li><li class="share__item">
		    <a href="" title="{% trans 'Share on Instagram' %}"><span class="fonticon fonticon--instagram fonticon--box fonticon--small"></span></a>
		</li><li class="share__item">
		    <a href="" title="{% trans 'Share on Pinterest' %}"><span class="fonticon fonticon--pinterest fonticon--box fonticon--small"></span></a>
		</li>
	</ul>
</div>