{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
	<div class="container container--m-narrow container--pad32">
		<h1 class="title title--caps">{% block step_title %}{% trans "Reset <br> Password" %}{% endblock %}</h1>
	</div>
	<hr>
	<div class="container container--medium container--pad32Top">
		<h1 class="subtitle">{% block step_subtitle %}{% endblock %}</h1>
	</div>
	<div class="container container--m-narrow container--pad32Top container--pad96Bottom">
		{% block step_content %}{% endblock %}
	</div>
{% endblock content %}
