{% extends 'registration/password_reset_layout.html' %}
{% load i18n %}

{% block step_subtitle %}{% trans "Set New Password" %}{% endblock %}

{% block step_content %}
    {% if validlink %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form id="password_reset_form" action="" method="post" class="form">
            {% csrf_token %}
            {% include 'partials/form_fields.html' %}
            <div class="form__actions">
                <button class="cta cta--dark" type="submit">{% trans 'Change my password' %}</button>
            </div>
        </form>
    {% else %}
        <h3 class="info info--danger">{% trans 'Password reset unsuccessful.' %}</h3>
        <br>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        <br>
        <br>
        <a class="cta" href="{% url 'password-reset' %}">Request new email</a>
    {% endif %}

{% endblock %}
