{% extends 'registration/password_reset_layout.html' %}
{% load i18n %}

{% block step_subtitle %}{% trans "Email sent !" %}{% endblock %}

{% block step_content %}
    <p>
    {% blocktrans %}
        We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
    {% endblocktrans %}
    </p>
    <br>
    <p>
    {% blocktrans %}
        If you don't receive an email, please make sure you've entered the address you registered with, and check
        your spam folder.
    {% endblocktrans %}
    </p>
{% endblock %}
